[2020-09-20 19:43] lukasoppermann opened #2 "Roadmap"
# Roadmap
## Beta
### Colors
- [x] solid fills only
- [x] only one fill per color token

### Borders
- [x] solid fills only
- [x] only one fill per token

### Grids
- [x] support multiple grids

### Sizes
- [x] only width is used

### Effects
- [x] support multiple effects

## Version 1.0
- [x] ignore styles that have a name starting with `_`

### Colors
- [x] support gradients

### Workflow
- [x]

[2020-09-25 10:04] lukasoppermann opened #3 "Amazon Style Directory Transformer"
- [x] change `description` to comment
- [x] make any property with only one item in `values` return this without the sub-name `e.g. color-fill = color`
- [ ] convertUnits (incl. option to add add unit e.g. 'px' or '%')
- [x] convertColor to `rgba`

[2020-09-28 20:45] lukasoppermann opened #4 "Investigate Testing with fixed dataset"
Can the figma api be mocked to test the whole plugin?

[2020-09-29 10:01] lukasoppermann opened #5 "Separate types into smaller files with a better structure"

[2020-09-29 10:01] lukasoppermann opened #6 "Support gradients on colors"

[2020-09-29 10:02] lukasoppermann opened #7 "Support multiple fills"

[2020-09-29 10:05] lukasoppermann opened #8 "Create reference if design token color are used in borders"
- [ ] change names of all items to allow for dot notation referencing
  - [ ] extract separate function for naming
- [x] add style id as string value and `reference` as property type
- [ ] loop through all values and if an ID is found do a search via api to look up ID
- [ ] if no comment, add comment with name of referenced token (as currently the reference may be replaced by a value)

// Does thi

[2020-09-29 11:24] lukasoppermann opened #9 "Investigate support for gradient on borders"

[2020-09-29 13:16] #6 closed

[2020-09-29 18:43] lukasoppermann opened #11 "Unit tests"
Create unit tests for all modules / functions

### Missing:
- [ ] index.ts
- [ ] styleDictionaryTransformer.ts

[2020-09-29 19:48] lukasoppermann opened #12 "Individual Radii are not exported"
- [x] On radius properties the individual corner radii are not exported to the json file.
- [x] once exported they may need to be specially converted for amazon style dictionary

[2020-09-29 20:17] #12 closed

[2020-09-30 08:17] lukasoppermann opened #15 "Gtihub Action to run unit tests & linting"
Add a github action that runs tests & linting on push & PR

[2020-09-30 09:24] lukasoppermann opened #16 "Shadow offset missing"

[2020-09-30 09:41] #16 closed

[2020-09-30 12:46] #5 closed

[2020-09-30 12:46] lukasoppermann opened #17 "Improve types"
- [ ] improve naming of types
- [ ] cleanup types
- [ ] separate into even more files if it makes sense

[2020-09-30 21:17] #7 closed

[2020-10-01 07:44] akrifari commented on #15
Hi, can I work on this one?

[2020-10-01 07:52] lukasoppermann commented on #15
Hey @akrifari sure, that would be great. Have you done it before?

Just in case you did not, here is a file to "get inspired" by (probably not the best, but it works 😁) https://github.com/lukasoppermann/veare/blob/master/.github/workflows/nodejs.yml

[2020-10-01 10:00] akrifari commented on #15
In the past, I used travis to do CI/CD

Thank you, I'll take a look

[2020-10-01 10:01] lukasoppermann commented on #15
Great. Github actions are very similar to Travis.

[2020-10-01 10:14] akrifari commented on #15
Yeah, same concepts I think

Got a question, which node version do we want to run our actions?

[2020-10-01 10:20] lukasoppermann commented on #15
Good question. I actually don't know what would be equivalent to the figma internals.

If you can't find this out either I would just go with 14.11 or .12 for now.

[2020-10-01 17:11] #15 closed

[2020-10-02 08:08] lukasoppermann opened #22 "Allow Frames to be used for custom tokens"

[2020-10-02 08:13] lukasoppermann opened #23 "Allow for custom tokens to be in groups, etc. not immediately within _token frame?"
- currently custom tokens have to be an immediate child element of a _token frame

Duplicate #65

[2020-10-02 08:25] lukasoppermann opened #24 "Remove border styles with images or multiple strokes to not export"

[2020-10-02 08:27] lukasoppermann opened #25 "Borders, don't show dash-pattern "" if none is set"

[2020-10-02 09:43] lukasoppermann opened #26 "Settings: Add convert numbers to string (value + unit)"
setting to choose if units should be added or not (12px or just 12)

[2020-10-02 09:46] lukasoppermann opened #27 "Settings: toggle exclude and include for styles"
Let user choose:
- only styles with a prefix of `[user choice]` (defaults to `_tokens`) are export
- all with the prefix are excluded (replaces current exclude any with `_`)

[2020-10-02 09:48] lukasoppermann opened #28 "Settings: selectively export"
Allow user to toggle what should be exported:
- effects
- text styles
- grid styles
- colors
- sizes
- radii
- borders
- all

[2020-10-02 09:50] lukasoppermann opened #29 "Export to repository & automatically transform"
**Send json data to a url (e.g. a git repository) that automatically transforms the data using npm (e.g. style dictionary).**

- [x] add menu item to send exported json to a specified url
- [x] add settings option to define url
- [x] add implementation of sending json
- [x] add action to [transformer](https://github.com/lukasoppermann/design-token-transformer) to automatically run the transformer

[2020-10-02 10:32] #22 closed

[2020-10-02 10:34] lukasoppermann opened #30 "Settings: top level prefix"
Allow user to add a `prefix` that is used for all tokens, e.g. `token` → `--token-color-blue`

[2020-10-02 10:35] lukasoppermann opened #31 "Settings: enable category prefix (e.g. color or typography)"
Allow user to enable top level categories.
E.g. all colors are clustered below `colors`

[2020-10-02 12:14] lukasoppermann opened #32 "Motion design tokens"
- [x] easing curves
- [x] duration

[2020-10-02 12:15] lukasoppermann opened #33 "Padding design token"
Using auto layout

[2020-10-02 14:12] lukasoppermann opened #34 "Replace filterByNameProperty"
- [x] apply `filterByNameProperty` in `buildFigmaData.ts` instead of individual extractors
- [x] convert `filterByNameProperty` to a function that can be applied in an arrays `filter` method
- [x] inject prefix as argument
- [x] inject boolean for `exclude` or `include` to prepare for #27

[2020-10-02 21:42] #34 closed

[2020-10-03 12:47] lukasoppermann opened #35 "Add version number (+ named version) from figma file to exported file"
Currently the figma file status can not be accessed from plugins.

[2020-10-05 20:27] lukasoppermann opened #39 "Add link to demo figma file"
- [x] Add link to demo figma file
- [x] Improve demo figma file

[2020-10-05 20:29] lukasoppermann opened #40 "Show changes when plugin is used"
- [x] track plugin version
- [x] store last opened version in user data
- [x] when plugin is used
  - [x] if minor bugfix: show notification at bottom
  - [x] if new feature: show overlay with link to github release notes

[2020-10-09 12:26] #40 closed

[2020-10-10 21:08] lukasoppermann opened #42 "Add better error messages for settings fields"
Add custom error messages to html5 form

[2020-10-13 10:53] #35 closed

[2020-10-15 17:19] #29 closed

[2020-11-11 13:14] usethetics opened #44 "Sending tokens to Github repo"
I’m trying to push tokens to a Github repo.

I have created a repo, added the Server URL for that repo (in *https://api.github.com/repo/:username/:repo* format) and Access token. Upon sending my design tokens I receive a confirmation ‘Design tokens pushed to server!’, however I do not see any update in my repo.

The local exported file looks fine.

[2020-11-11 13:32] lukasoppermann commented on #44
Hey @usethetics,

since this issue came up before, one quick question, did you go into the "Actions" tab in your repo and click the green "enable actions" button? (https://github.com/lukasoppermann/design-token-transformer#transformation-in-github-repository)

Sadly, if this is not enabled github swallows the push without returning any error.

[2020-11-11 14:57] usethetics commented on #44
Hi @lukasoppermann, if I go into the Actions tab I get the ‘Get started with GitHub Actions’ overview page without an ‘enable actions’ button.

[2020-11-11 15:49] lukasoppermann commented on #44
Okay, but you did **fork** this repository https://github.com/lukasoppermann/design-token-transformer correct? (You did not just create a new one, correct?)

If you did create a fork and still can't enable it, I'll have to check it later. Did you use actions on github before?

[2020-11-11 16:33] usethetics commented on #44
Sorry, I should’ve been clearer. I tried both creating a new project and forking design-token-transformer.

In the forked project I now have enabled actions and followed the steps outlined. The package.json has been updated to reflect the correct repository URL.

TBH, I haven’t used Github Actions before but I take it the correct actions are forked over right? Do I need to update anything in the t

[2020-11-11 18:18] lukasoppermann commented on #44
Hey @usethetics, correct, the action file is included in the project, so when you create a fork it will be present.

The url has to be updated though, the correct one would be:
Not that you are missing an **s** in repo**s** and need to update the end (remove `.git` and add `/dispatches`).

[code]

I will update the readme to make this easier to understand by adding an example.

Let me know if it w

[2020-11-11 18:38] usethetics commented on #44
Awesome, thanks, it would beautifully now!

[2020-11-11 18:39] #44 closed

[2020-11-11 20:28] lukasoppermann commented on #44
Awesome. If you have any idea (apart from adding the example url to the readme) of how I can make this easier to understand, please let me know. Sometimes it is hard to write documentation for something you build yourself. 😅

[2020-11-11 20:50] usethetics commented on #44
For me it was initially not clear that I needed to fork the transformer repo as I only wanted to see if I was able to publish tokens on GitHub and not in the transformation mindset (yet).

My main struggle was with steps three and four of the setup process:
3. Adapt the transform-tokens script in the package.json.
4. Adapt the github workflow.

Maybe explicitly mentioning that the repo URL has to

[2020-11-11 22:06] lukasoppermann commented on #44
Hey, thank you for the suggestions. I guess most people are new to setting something like this up.
I had to figure it out as well, while building it. 😉

I changed the readme a lot make it more obvious. I hope it helps.

Let me know if I missed something.

Cheers

[2020-11-12 08:00] usethetics commented on #44
Looks great!

[2020-11-30 06:40] glsee opened #55 "Font weight is wrongly detected as font style when generated as SCSS and CSS"
Imagine I have this text style with "Extra Bold"
![Screenshot 2020-11-27 at 3 51 34 PM](https://user-images.githubusercontent.com/457429/100424352-6f126100-30c8-11eb-9e93-39b579a392df.png)

When using the Inspect feature in Figma, the equivalent CSS codes provided by Figma is (see how to the "Extra Bold" font style in Figma UI is translated as `font-weight`):

![Screenshot 2020-11-27 at 3 54 40 PM

[2020-11-30 08:49] lukasoppermann commented on #55
Hey @glsee, very good catch. 👍

This seems to be an issue with the PluginApi where it only returns the style as e.g. "Extra Bold". I am investigating if there is a fix. If you are using a condensed font it is not shown at all, even in the inspector. I will file a bug with Figma concerning this.

I am not sure if a matrix to get the correct values would be feasible, as the naming convention is not

[2020-12-18 10:01] lukasoppermann opened #59 "Custom Transformers"
Some things like easing function names don't match to languages → write example of custom transformer to changes those for the given languages (https://github.com/amzn/style-dictionary/blob/main/examples/advanced/custom-transforms/build.js#L21)

[2020-12-18 10:09] #32 closed

[2020-12-18 15:39] dghosh opened #60 "Getting blank list on plugin while exporting json file"
Getting blank list on plugin while exporting json file. This is the file I am trying to run it on https://www.figma.com/file/eteQ8PXhfQORP09r5XbiPG/TestingDesignTokenExport in case it helps to debug? I am wondering if this is because figma's file structure has changed in json? I am wondering if line 19 in buildFigmaData.ts needs to be just figma.document.children instead ? Purely basing this on th

[2020-12-18 16:06] lukasoppermann commented on #60
Hey @dghosh,

to figure out the problem, let me ask two things first:

1. What are you trying to export? It does not look like you have any `styles` set up in Figma (or is this a limitation from the view only project?)
2. If you are trying to export anything like border radii, etc. you need to include the elements in a `_tokens` frame.

[2020-12-18 17:27] dghosh commented on #60
Think that might be a limitation of the view only mode. I renamed the frame to _tokens and still no luck! All I get is [] in the downloaded json file.

![image](https://user-images.githubusercontent.com/1861503/102642727-09107b00-4156-11eb-92e4-3cec2d630a88.png)
![image](https://user-images.githubusercontent.com/1861503/102642806-204f6880-4156-11eb-974f-546e336c2fac.png)

[2020-12-18 17:29] dghosh commented on #60
@lukasoppermann given you edit access!

[2020-12-18 19:59] lukasoppermann commented on #60
Hey @dghosh,
I fixed the file so that it works. The parent frame needs to have the `_tokens` name.

Obviously the docs are not easy enough to understand. Would you maybe have some suggestions how I can improve them, to make it easier to understand?

[2020-12-18 23:02] dghosh commented on #60
Ah ok thanks! Went through the reader again and it explains what you have done in renaming the frame. But would be great if you could add some example screenshots of Figma file setup with different combinations and show what the JSON output is, perhaps? Also perhaps some guidance on the plugin too around naming of frames would be helpful I think.

[2020-12-19 07:56] #60 closed

[2020-12-21 09:21] lukasoppermann commented on #60
Hey @dghosh I updated the docs and added more descriptions for the token creation.

I also added one image doe the sizes tokens (I will add more later).

https://github.com/lukasoppermann/design-tokens/blob/main/README.md#sizes--spaces

Please let me know if this makes sense or if you think there is something missing.

Cheers

[2020-12-21 09:42] #27 closed

[2020-12-21 09:43] lukasoppermann commented on #4
Worked around this issue.

[2020-12-21 09:43] #4 closed

[2020-12-21 12:29] lukasoppermann commented on #55
[According to Jonas from Figma](https://figmaplugins.slack.com/archives/CHPTY6TFD/p1608156495243200?thread_ts=1604525949.417000&cid=CHPTY6TFD) they just use a mapping table for the API.

[code]

This means they are missing the values: "Super", "Heavy", "Demi Bold" as well as "Condensed" & "Extended"

So to get up to what they are doing, a simple mapping table could help. This could include `conden

[2021-01-02 17:43] uptonking commented on #2
I really want the feature of Export Design Token File By Type, for example, `_tokens/sizes` Frame exported to `sizes.json`, `_tokens/colors` exported to `colors.json`.
In this way, we can export multiple json files.
This feature can be integrated with style dictionary v3 to [automatically generate 1:1 token files based on a custom filter](https://github.com/amzn/style-dictionary/pull/481).

That i

[2021-01-02 18:19] lukasoppermann commented on #2
Hey @uptonking can you send a PR to include this?

[2021-01-04 11:47] dghosh commented on #60
Hi @lukasoppermann this looks good, thanks! Is there a way to get the sizes and borders(or any combination of custom tokens) for any single Frame, Rectangle or Main Component? For example - how can i get the border info along with the size for the 3 shapes in your example file https://www.figma.com/file/2MQ759R5kJtzQn4qSHuqR7/Design-Tokens-for-Figma?node-id=1260%3A44

[2021-01-04 12:02] lukasoppermann commented on #60
Hey @dghosh,

this is currently not possible. It would mean that you would always export all properties or would have to use complex naming schemes.

The best way would be to create 3 frames with similar names like `sizes/small-box`, `radii/small-box`, etc. and work with this.

A potential future option would be to allow users to disable the category prefix e.g. `sizes`, but this could lead to ove

[2021-01-04 12:11] dghosh commented on #60
Perhaps the user specifies which custom tokens to export via the plugin menu and not via naming of the frames? This way if I select sizes and borders then it exports both those info along with other style tokens that get exported by default.

[2021-01-04 12:17] lukasoppermann commented on #60
Hey @dghosh can you elaborate on your idea? I think I don't quite understand it.

[2021-01-04 12:28] dghosh commented on #60
I am thinking something like this in the settings.

![Uploading 16097633064064104821944256521784.jpg…]()

[2021-01-04 12:33] dghosh commented on #60
![IMG_20210104_123138](https://user-images.githubusercontent.com/1861503/103535554-d28e6c00-4e88-11eb-949f-8cc92da4c9a1.jpg)
I am thinking something like this in the settings - allow the users to select which custom token(s) to export

[2021-01-04 12:36] lukasoppermann commented on #60
And this would mean that all frames (or maybe all frames with a `_token` prefix) would export the selected types?

But how would a user go about creating border-only tokens? E.g. I want to have my size tokens and I want to have a `border-active` token. This would necessarily have a size, but I don't want it to be a size token. How would you solve this?

[2021-01-04 13:35] dghosh commented on #60
So by the fact that the size and border option are ticked in the settings - it would export all the size and border properties for all frames. The output would be like this for two frames:

[code]

[2021-01-06 07:52] lukasoppermann commented on #60
The issue I see is, that if a users has a frame `sizes/10` and a frame `borders/red` she will get:

[code]

[2021-01-06 10:43] dghosh commented on #60
right i see. my idea was based on that you wouldn't need to have any naming conventions required for the frames. anything on a page or anything inside a "_tokens" frame is parsed. Is there a use case where you wouldn't want "red" inside the sizes?
For example if i am designing a website landing page which has header, content and footer frames. I would want to export all properties(sizes, borders e

[2021-01-09 08:17] lukasoppermann commented on #60
Hey, I think you may be using the plugin in a different way.

Are you trying to parse design tokens that are used on components?

The main idea of this was to basically build and extract the "library" of design tokens. To this end you would normally only want one aspect per token and have control over the naming.

So yes, you would want to define the e.g. "small-radius", "big-radius" and "bubble-r

[2021-01-13 15:46] dghosh commented on #60
Thanks for the explanation! I will go away and do bit more research on design tokens :)

[2021-01-13 21:34] lukasoppermann commented on #60
Hey @dghosh I hope this didn't come over as dismissive or something.

I actually wrote a post about design tokens, maybe this is interesting for you: https://vea.re/blog/design-tokens-what-are-they-and-how-will-they-help-you

It sounds to me like you are trying to extract values for specific components used in a design, straight from the design. This makes sense, but is I think a different use cas

[2021-01-14 09:21] dghosh commented on #60
No not at all - i am pretty new to the design tokens concept so appreciate any help and pointers. And yeah I was more coming from a developer hand off point of view - so the developers have the right properties for all the elements/components that are part of the design.
The vision we have in my team is that we can potentially use design tokens to layout all the properties for each component of th

[2021-01-14 17:11] lukasoppermann commented on #60
This is generally the idea. However, until Figma natively supports design tokens, this will not be possible with handoff.

The best approach I know currently would be:
1. Create design tokens with this plugin and export them to json
2. Create your components and (yes sadly manually) spec them, writing the name of the tokens next to the component like in the visualisation I added above: https://ima

[2021-01-15 04:14] CrispoColombo commented on #2
Would it be possible to include elevation/dropshadow values?

[2021-01-15 07:54] lukasoppermann commented on #2
This is currently working via effect styles. Do you have any issue with that as to why you feel it would need to also be included as a custom token?

[2021-01-19 18:59] NoobsArePeople2 opened #62 "Third party contributions?"
Hello,

My team is considering using this plugin and I'd like to know if you will accept contributions (new features, bug fixes, etc) from external users like us?

Thanks.

[2021-01-19 20:14] lukasoppermann commented on #62
Hey Sean,

yes I am happy to accept contributions.

Bugfixes always, new features as long as they fit somewhat into the idea of the plugin and don't have a negative impact on other features as well.

If you are planning on sending a PR for a feature, it is best to first create an issue with the feature idea and maybe a use case (if it is not obvious). Once we discuss an implementation direction yo

[2021-01-20 02:08] NoobsArePeople2 commented on #62
Perfect! Thanks!

[2021-01-20 02:08] #62 closed

[2021-01-29 08:51] gossi opened #63 "Collaboration with Theemo?"
Gude aus Frankfurt 👋

After reading your very nice article about design tokens (Choices & Decisions) and your hint for this addon, I think we should collaborate on the two rather than brewing stuff on our own.

As this is kinda my research project from last year and theemo is one of the solutions I developed (for both figma and toolchain), I think the best what I can leave you here are my articles

[2021-02-02 22:29] lukasoppermann commented on #33
Implemented. 👍

[2021-02-02 22:29] #33 closed

[2021-02-03 07:47] #55 closed

[2021-02-03 07:49] lukasoppermann commented on #8
This is probably to complicated to to throughout all tokens without first party support for referenced colors.

[2021-02-03 07:49] #8 closed

[2021-02-15 12:24] lukasoppermann commented on #26
This should probably be rather done in the amazon style dictionary transformer

[2021-02-15 12:24] #26 closed

[2021-02-15 12:26] lukasoppermann opened #65 "Allow tokens within sub-frames & groups"
Allow users to group tokens into sub-frames or groups.

**Issues**
- how does the plugin know which one is a token and which one is a group?

[2021-02-15 12:26] lukasoppermann opened #66 "Allow variants to be tokens"
E.g. spacing, etc. where you have a variant base[sm], base[md], ...

[2021-02-16 16:24] ricca509 opened #67 "Push to server not working when payload is too big"
I have a fairly large generated JSON (just under 100k).

When trying to use the "Send tokens to url" feature I noticed that if the content is too big the request will fail. I didn't find the exact maximum payload in the github docs, but wanted to open an issue so this can be looked into.

I have a possible solution and will open a PR shortly.

![Design_system](https://user-images.githubusercontent

[2021-02-16 17:36] #67 closed

[2021-02-23 13:03] lukasoppermann opened #69 "Add versioning"
Allow users to create a "commit" every time the tokens are changed / exported with a sem-version increase.

[2021-03-08 05:44] davidbwaters commented on #44
The s is missing in the github url in the readme, but I'm still having trouble with this.  It's just hard to debug when it says it pushed.

[2021-03-08 07:47] lukasoppermann commented on #44
Hey @davidbwaters do you have more info? Does it arrive at the repo? The plugin does not get any info from the repo, so it only knows if the sending worked.

You can open the console in Figma, do you see any error there?

[2021-03-10 04:25] davidbwaters commented on #44
Hey, thanks for quick response and support.  I got it working.  Docs are much clearer now. Once I added the 's' I had to fix the event type.

I think, depending on how simple you wanna keep things, you could simplify (for designers who don't do much api stuff) in a couple of ways. You could have a dropdown for webhooks and one for github actions.  Under the actions options, you could have user nam

[2021-03-11 22:30] davidbwaters opened #70 "Empty export, previously worked."
I'm getting an empty file trying to export.  Was working before.  Here's the view link https://www.figma.com/file/35nU0g9gYNgOwhp6cqTEIs/style-guide?node-id=0%3A1

[2021-03-12 07:29] lukasoppermann commented on #70
Hey @davidbwaters,

I can't access the file (I guess due to missing permissions).

[2021-03-12 15:20] davidbwaters commented on #70
sorry, updatesd

[2021-03-12 15:28] lukasoppermann commented on #70
Hey, so what do you expect to be exported? Does it export the text and color styles they not exported? If not, did you change anything in the settings? (Can you send a screenshot of your plugin settings)?

Lastly, can you check the console? In figma you can open the console via: `[Main Menu] > Plugins > (More) > Development > Open Console`

Does it provide an error message?

[2021-03-13 08:27] lukasoppermann opened #72 "Show error when github push fails"
- [ ] 401
- [ ] 404
- [ ] check if other codes are available

[2021-03-13 20:02] davidbwaters commented on #70
I'm getting a file with an empty array both locally saving and when trying to push to repo.  Only console error showing is `URL is not defined` when saving locally, but when I empty the publish url in settings and try to save locally there are no errors and it still fails.  I have maybe 50 styles total. Image fills, colors, fonts, shadows.  I tried removing selections to pinpoint problem and expor

[2021-03-14 07:02] lukasoppermann commented on #70
Hey looks good.

If you can grant me write access that would be very helpful: oppermann.lukas@gmail.com

[2021-03-18 20:04] davidbwaters commented on #70
Thanks a lot.  Okay, I'll add you.

[2021-03-18 20:31] lukasoppermann commented on #70
Hey @davidbwaters,

it appears the issue is, that you set the "exclude" setting to only "include" the prefixed items. If you change it the import works fine.

This option definitely needs some reworking in at least the wording and description, as it is currently easy to misunderstand.

Sorry for the inconvenience.  Let me know if activating the prefix exclude option works for you.

[2021-03-25 19:07] MoritzStefaner opened #75 "comment:null leads to errors with style-dictionary"
Hi,

thanks for this great plugin!

One thing I discovered in the latest version:

Missing comments are exported as `comment: null`, which leads to errors when using style-dictionary (I am using 2.10.3) to transform the styles. Changing these to `comment: ""`or removing them altogether leads to a working build.

[2021-03-25 19:24] lukasoppermann commented on #75
Hey @MoritzStefaner,

thank you very much for raising this issue. I am working on it and will let you know once it is fixed.

[2021-03-25 21:14] MoritzStefaner commented on #75
Ah, interesting. Here's my config:

[code]

[2021-03-25 21:47] lukasoppermann commented on #75
Nice, I will try this. I created a PR that should fix it by removing empty comments. I will try to test and merge it tomorrow.

[2021-03-26 09:57] #75 closed

[2021-03-26 12:27] lukasoppermann commented on #70
Hey, I am closing this as fixed now, if your issues still persist, please let me know.

[2021-03-26 12:27] #70 closed

[2021-03-26 12:28] lukasoppermann commented on #75
Hey, I just published version 2.1.3 which changes the behavior to avoid any non-string comments

[2021-03-26 20:00] #72 closed

[2021-03-27 12:12] #3 closed

[2021-03-27 12:13] #2 closed

[2021-03-27 12:14] lukasoppermann commented on #11
WIP, but needs no ticket.

[2021-03-27 12:14] #11 closed

[2021-03-27 12:14] #17 closed

[2021-03-28 22:44] davidbwaters commented on #70
Thanks a lot man.  I think this is working.  I left some feedback (responding to when you asked how it could potentially be improved UX-wise) in the other closed issue, btw.  Thanks a lot.

[2021-04-01 11:44] #66 closed

[2021-04-01 19:43] MoritzStefaner commented on #75
Sweet, thanks! Can confirm my issues are resolved.

[2021-04-01 20:03] lukasoppermann commented on #65
Fixed in #79

[2021-04-01 20:03] #65 closed

[2021-04-01 20:03] #23 closed

[2021-04-28 14:34] lukasoppermann opened #80 "Update design token transformer to create a PR instead of committing straight away"
- https://github.com/marketplace/actions/create-pr

The idea here is that instead of overwriting the design tokens here: https://github.com/lukasoppermann/design-token-transformer the github action should create a PR that allows manually checking the changes on github before merging.

[2021-05-06 09:42] mwargan opened #81 "How does the naming convention work?"
I may be completely misunderstanding something, but I'm confused on two fronts. For one, it seems Amazon specifies a specific naming convention thats required to make "transforms" work, but this plugin doesn't seem to enforce that, right?

Secondly, in the readme example, the outputted fonts have, very nicely, a prepended "--font-" to them. This doesn't seem to be the default behaviour though. Are

[2021-05-06 10:02] lukasoppermann commented on #81
Hey @mwargan,

1. Style dictionary has a specified structure that you can use to transform it. However you can customize this in the config file (the example in the transformer shows that https://github.com/lukasoppermann/design-token-transformer/blob/main/config.json)

2. For styles you need to prefix the names e.h. `font/` to get this. This is specific to figma styles.
For custom styles you have

[2021-05-07 11:02] mwargan commented on #81
Hey @lukasoppermann - thanks dearly for helping!

This is definitely coming down to my lack of experience with Style Dictionaries. I guess my confusion also comes to: the transform groups (especially for CSS) include some existing transformations: https://amzn.github.io/style-dictionary/#/transform_groups?id=css.

As an example, that transform group includes a transform for colours, namely convert

[2021-05-25 02:19] reallifeliver opened #83 "Does it still be maintained?"
Is this project still maintained?

[2021-05-25 05:36] lukasoppermann commented on #83
Yes, it is.

[2021-05-25 05:36] #83 closed

[2021-05-28 09:21] xseignard opened #84 "Gradient exported with fill category"
Hi!
First of all, thanks for this great plugin!

It seems that at one point, gradients were exported with the category `gradient` but it was then reverted to `fill` category.
See https://github.com/lukasoppermann/design-tokens/commit/ea8503d6ba508374f7f2b4aca679087926192cbd

Is there a reason why ? And would it be possible to add back this feature ?

Thanks!

[2021-06-01 10:32] lukasoppermann commented on #84
Good question, I am actually not aware of any real reason.

I would be open to it being added back. Would you be willing to send a PR for this?

[2021-06-01 10:35] lukasoppermann commented on #81
Hey, this may be, because the name that is used is `sizes` and not `size`.

Could you maybe try to adjust your json and rename `sizes` to `size` (manually) and see if this works?
This would give us an idea of how we may be able to fix it.

[2021-06-01 10:39] mwargan commented on #81
Hey @lukasoppermann - on it. I've opened the relevant issue here: https://github.com/lukasoppermann/design-token-transformer/issues/4 feel free to close either and just let me know where you'd like to continue.

[2021-06-01 10:42] mwargan commented on #81
@lukasoppermann after further review, seems I don't have "sizes". The nearest is maybe "fontSize" in the .json file.

[2021-06-01 10:43] xseignard commented on #84
Sure! I'll try to find time to handle that this week. I keep you posted

[2021-06-01 10:50] lukasoppermann commented on #81
Okay, this is something I will have to investigate.

Normally style dictionary converts using cti syntax, but the plugin may not adhere to this format which may create the issue.
Alternatively the issue could be that the category does not match.

Can you do me a favour and add `"category": "size"` in the json on the gutterSize and a fontSize?

[code]

And afterwards try if the conversion works?

[2021-06-01 10:57] mwargan commented on #81
@lukasoppermann just tried adding the category key-value pair to both gutterSize and fontSize - still no dice :/

[2021-06-01 11:05] lukasoppermann commented on #81
Okay. Thank you for testing it. I will look into the issue and try to solve it.

[2021-06-02 21:33] klarkc commented on #81
I am having this same issue, the figma plugin is exporting this:

[code]

But it should be this:

[code]

[2021-06-02 21:44] lukasoppermann commented on #81
Hey @klarkc
is this an issue just with tailwind or does this solve the issue for amazon style dictionary?

[2021-06-02 22:03] klarkc commented on #81
@lukasoppermann both, the tool that I use to extract tailwind config from the exported dictionary [expects CTI standard](https://github.com/michaelmang/tempera/tree/master/packages/tailwind#tokens).

[2021-06-02 22:06] klarkc commented on #81
An option to enable / disable CTI convention on plugin settings is a viable solution?

[2021-06-02 22:32] lukasoppermann commented on #81
Hey @klarkc so you tested with the inverted syntax and that solves the problem?

Adding an option to enable / disable CTI is definitely an option. Would you be interested in sending a PR?

[2021-06-04 11:27] lukasoppermann opened #85 "Update Export UI"
## Add visual UI for export
- [x] toggle each typo of token export (e.g. only export colors)

## Add to settings UI
- [x] toggle compression of json
- [x] add csv list of token names for use in figma ("gap/10px")
  - [x] add names for styles (fonts => typography)
- [x] toggle main name (e.g. remove "fonts" from export)

[2021-06-04 13:07] klarkc commented on #81
@lukasoppermann yes it solves.

About a PR, right now I can't, but I'll try to make it as soon as possible, cause it's a big blocker here.

[2021-06-04 22:59] lukasoppermann opened #86 "Rewrite to use react"
Using react makes building the UI a lot easier.

[2021-06-08 16:00] lukasoppermann opened #94 "Close UIs on ESC"

[2021-06-08 16:08] lukasoppermann commented on #86
Fixed in #87

[2021-06-08 16:08] #86 closed

[2021-06-13 14:09] lukasoppermann opened #97 "Remove settingsDefault"
Not really necessary and just makes more work

[2021-06-22 06:52] lukasoppermann commented on #94
Fixed in #107

[2021-06-22 09:44] #94 closed

[2021-06-28 05:37] lucianomlima commented on #31
Hi, thanks for this awesome library.

Is this issue related to how style dictionary matches color transform?
I realize that colors are exported with fill category but in style dictionary should be color, because it uses [this util function](https://github.com/amzn/style-dictionary/blob/29e511d07e7991430f6f892879aeb0ade0c6a289/lib/common/transforms.js#L20-L22):
[code]

Right now, no color transform

[2021-06-28 10:28] lukasoppermann commented on #31
In parts. So you could solve it by naming your colors `color/red` and disabled the `category prefix` (e.g. fill).

Style dictionary does not deal with gradients specifically, do they?

You can solve this issue now, by writing a custom function and look for category === 'fill' but I appreciate it would be neat to work out of the box.

However this is going to be a breaking change, so I will need to

[2021-06-29 22:55] lucianomlima commented on #31
Thanks @lukasoppermann. Change to `color` solved!
About gradients, I don't know, yet. But I try to figure out.

If I found any issues, I open an issue here! 😉

[2021-06-30 20:26] lukasoppermann opened #113 "Keep focus within plugin window"

[2021-07-01 19:29] lukasoppermann commented on #97
Closed in #114

[2021-07-01 19:29] #97 closed

[2021-07-01 19:30] lukasoppermann commented on #28
fixed

[2021-07-01 19:30] #28 closed

[2021-07-06 20:58] #85 closed

[2021-07-06 21:00] #63 closed

[2021-07-06 21:01] #42 closed

[2021-07-06 21:01] #9 closed

[2021-07-06 21:02] #25 closed

[2021-07-09 21:41] #84 closed

[2021-07-09 21:41] #113 closed

[2021-07-09 21:42] lukasoppermann commented on #39
Fixed in v5

[2021-07-09 21:42] #39 closed

[2021-07-09 21:42] #24 closed

[2021-07-09 21:42] #31 closed

[2021-07-09 21:42] #30 closed

[2021-07-11 12:41] b-barry opened #125 "[Question/Feature request] Aliasing token / cross referencing"
Hello,

Thanks for this excellent plugin. It will make our process faster.
I am wondering if this plugin supports alias between token.
I am following the recommendation of [Abobe spectrum](https://spectrum.adobe.com/page/design-tokens/#Design-token-types).

Thanks in advance!

[2021-07-12 14:34] lukasoppermann commented on #125
Hey @b-barry this is a topic I find very interesting as well.

Do you have an idea how aliases could be defined within figma?

[2021-07-14 21:32] tsarjeant opened #127 "Exclusion Prefix - styles that have a leading . still being exported"
I am attempting to export the color styles my design team has set up and they are "hiding" certain colors that they don't want to be used for now. It appears the default behavior should exclude these colors as the hidden styles have a leading .

However, my export is still including them. Is there something I may be missing or need to set up for this to work?

[2021-07-15 06:14] lukasoppermann commented on #127
Hey @tsarjeant this should actually work. Both in my automated tests and in the integration test a token prefix with "." gets excluded.

Can you send me a screenshot of the token names and of your settings? There may me something in there.

[2021-07-15 16:34] tsarjeant commented on #127
Is this what youre looking for?
When I run the export the colors like `Homer>.700` still show up in the export file.
![Screen Shot 2021-07-15 at 11 32 24 AM](https://user-images.githubusercontent.com/757937/125824376-e198afb4-49f2-4612-a2cd-42987d96f2cf.png)
![Screen Shot 2021-07-15 at 11 31 59 AM](https://user-images.githubusercontent.com/757937/125824386-b3ee017f-1fb8-49c9-8ea1-1136b5b9f874.png)

[2021-07-15 17:01] lukasoppermann commented on #127
Ahh, okay then it makes sense. Has this been working before?

The plugin only supports first-level excludes. It basically only checks if the name starts with a dot and the name of this token starts with `additional/homer/.700`.

So maybe you can create a feature request for this.

[2021-07-15 17:36] tsarjeant commented on #127
Ah alright, well at least i know I'm not crazy lol.
I am actually just setting this up for the first time so no it hasn't worked before.

Ill put in a feature request for this functionality then and see if we can get there.
Thanks!

[2021-07-19 07:07] #127 closed

[2021-07-22 16:12] janina3 commented on #125
I am also interested in alias support. I'm relatively new to Figma (just switched from XD) and new to tokens in general, so don't have an idea on how to go about this yet

[2021-07-22 16:20] janina3 opened #128 "[Question/Issue] No size units in output file from styledictionary"
The font-size var is not working. The CSS (and JSON) output file does not have have a unit (px), though pixel was defined in the exported JSON file. Without the unit in the CSS, the font-size attribute is not working. I'm using HTML/CSS on VSCode. Once I added "px" on line 114, the font-size var worked.
<img width="303" alt="Screen Shot 2021-07-22 at 11 16 40 AM" src="https://user-images.githubuse

[2021-07-22 16:42] b-barry commented on #125
I am testing another plugin to analyse how they are doing it. I think it will be complex

[2021-07-22 19:33] lukasoppermann commented on #128
Hey, to transform sizes correctly you need to use custom transforms.

I added an example to the transformer repo: https://github.com/lukasoppermann/design-token-transformer/blob/main/transformTokens.js#L5-L53

[2021-07-22 19:33] #128 closed

[2021-07-26 07:13] lukasoppermann commented on #125
Hey, @b-barry that is true. I see a view problems that need to be solved:

1. How does the plugin know a token is a references? (Name, portion of the name, ref in the description (=> only works for styles))
2. Would the user expect the references to update or only work on the export?
Problems: if it does not update, you may use two different colors (as you changed one that is referenced) and than

[2021-07-26 07:49] lukasoppermann commented on #81
Just FYI @klarkc I added custom transformer examples to the design tokens transformer repo: https://github.com/lukasoppermann/design-token-transformer/blob/main/transformTokens.js so you can copy and adapt this to get the desired result.

e.g. this one matches any token on the json file that has the `unit` set to `pixel` and adds `px` to the end of the value.

[code]

[2021-07-26 07:49] #81 closed

[2021-07-28 14:13] erisvaldojunior opened #129 "Export height for breakpoint tokens"
For our react native app, we are using four breakpoints: phone, tall phone, tablet and large tablet. For tall/long phone, we would need to get the height, which is the one that differentiates it from the phone itself. Is that possible?

[2021-08-13 17:27] iamdriz opened #131 "No design token detected! when trying to export tokens for component"
I've created a simple Button component and when I try to export the tokens for it I get the error No design token detected!

![image](https://user-images.githubusercontent.com/801252/129396995-9073d8dc-1033-417b-b6c7-6435ebfec1b8.png)

I feel like I'm missing something? But I thought it automatically exported styles as tokens and you didn't need to give anything specific names unless you're creati

[2021-08-14 07:31] lukasoppermann commented on #131
Hey, you may have encountered a bug.

Can you do me a favor and add a frame named _tokens as a top level frame and see if it works with that?

[2021-08-14 09:06] iamdriz commented on #131
Nope doesn't work... here's a link to the Figma if that helps: https://www.figma.com/file/6TA1fHpOwylekqHk6vc2Zg/Untitled?node-id=0%3A1 I've enabled editing.

[2021-08-16 07:21] lukasoppermann commented on #131
Hey @iamdriz I am sadly not having edit rights yet.

However do you have styles set up? It looks like you are using a normal color and not a color style, but maybe this due to the view only access.

[2021-08-16 08:20] iamdriz commented on #131
@lukasoppermann Sorry mate, I'm new to Figma. You should have edit permissions now.

[2021-08-16 08:35] lukasoppermann commented on #131
Hey, no worries. I added another frame where I use styles. This made it work.

You need to work with styles, normal colors / type, etc. are not exported.

Reopen the ticket if you still have issues.

[2021-08-16 08:35] #131 closed

[2021-08-16 08:50] iamdriz commented on #131
@lukasoppermann Ah okies.... so it just exports high-level styles... I thought it would export tokens at the component-level e.g. the button background color and button border radius etc...

[2021-08-16 08:52] lukasoppermann commented on #131
Correct, it only exports styles. You could create styles for every component e.g. "button/background-color", etc. but they need to be styles.

[2021-08-19 08:55] lukasoppermann opened #132 "lineHeight uses "pixels" instead of "pixel" as unit"
Currently lineHeight is exported using "pixels" as a unit.

https://github.com/lukasoppermann/design-token-transformer/issues/6

[2021-08-20 10:12] Diemietrie opened #133 "cross referencing"
Is there a way to create a color variable with another color token? How does this work?

[2021-08-20 10:26] lukasoppermann commented on #133
Related to #125

Currently this is not possible. If you have a proposal for a good implementation I would love to hear it.

What makes it complicated is that you would need to update tokens that are related when one of the changes.

[2021-08-20 11:17] Diemietrie commented on #133
Ah too bad.

I know that makes it complicated. I think users of your plugin would need a UI window to set these references. I've been using another plugin to do this, but this plugin doesn't create code for 'style dictionary'. I was able to create these color variables with cross references as their value with this UI.

![image](https://user-images.githubusercontent.com/4568861/130225289-7b394ea3-

[2021-09-02 10:35] lukasoppermann commented on #133
Closing in favour of #125

[2021-09-02 10:36] #133 closed

[2021-09-02 10:37] lukasoppermann commented on #129
Closing this for now, as the "workaround" solves the issue and it is not coming up a lot as a request / issue.

[2021-09-02 10:37] #129 closed

[2021-09-02 10:39] lukasoppermann opened #137 "Cleanup extractors"
Extractors should work more similar and all produce a very similar output.

They all have the same top level items and always have a property called `values` with an array inside.

Other things should be aligned as well and a typeScript extractorInterface should be added.

[2021-09-02 10:40] lukasoppermann opened #138 "Cleanup Transformers"
Once the extractors are aligned the transformers can be cleaned up.

- [ ] less manual assignments, more automation
- [ ] add a typeScript interface

[2021-09-02 13:36] Ben-Ruzo opened #139 "Unable to remove token library added to my account by the plugin."
Hi,

I installed the Design Tokens plugin to try it out and it added this library to my account, which I don't think I created and have been unable to remove.

![Design Tokens for Figma - library](https://user-images.githubusercontent.com/8533709/131852485-23a8e06e-6104-4348-af18-43a7809e55e2.png)

The library seems to only include two color styles.
![Design Tokens for Figma - library styles](http

[2021-09-02 14:07] lukasoppermann commented on #139
Hey @Ben-Ruzo this is just the demo file.
I think by simply deleting the file from your drafts / recents it should go away. Can you please give it a try?

I also unpublished it, as there is no need for it to be a library.

If this does not help you may have to go into the file, click on "Share" and set yourself to "Leave"

[2021-09-02 17:16] Ben-Ruzo commented on #139
I had deleted the demo file a while ago but the library was still showing up for it. It looks like you unpublishing the file, removed it from my library.

I did try to remove myself from the "Share" list but that list is so long and not in alphabetical order, I could not find name. There should be a search feature for that list.

I don't understand why your published library was showing up in my a

[2021-09-03 10:55] lukasoppermann commented on #139
I noticed the same with a file somebody shared with me a year ago and had to try it out. Removing me from the share list was the only action that helped (without them unpublishing it).

This is definitely one of Figmas more quirky behaviors, but I am happy it worked now.

[2021-09-03 10:55] #139 closed

[2021-09-10 07:40] lukasoppermann commented on #125
Hey @toiletgranny I agree that using a reference comment is the only valid solution. However I would prefer a simple `alias: {colors.primary}` or maybe even `alias: colors/primary`

I think to begin with adding support for colors would be good.

Are you interested in tackling this?

[2021-09-14 12:05] lukasoppermann opened #141 "Replace html-webpack-inline-source-plugin"
https://github.com/jantimon/html-webpack-plugin/issues/1379

[2021-09-17 13:22] lukasoppermann commented on #59
Now available in tests folder, will be move to examples soon.

[2021-09-17 13:22] #59 closed

[2021-09-26 13:15] caoimghgin opened #144 "font design tokens transform to [object Object]"
Love the ability to export JSON for typography. However, the output now only renders [object Object] through style-dictionary. Difficult to say if the latest style-dictionary introduced an incompatibility or not. Worth noting, Supernova.io JSON output for typography has the same behavior.

![Screen_Shot_2021-09-25_at_8 45 30_AM](https://user-images.githubusercontent.com/701989/134809497-aea8649a-d

[2021-09-26 18:42] lukasoppermann commented on #144
Hey @caoimghgin sorry for the inconvenience, this is the same situation as here: https://github.com/lukasoppermann/design-token-transformer/issues/8

The quick and easy solution is to just change the token export format back to `original`. See more here: [Token format](https://github.com/lukasoppermann/design-tokens#token-format)

I will hopefully get around adding an FAQ part to the repo this upc

[2021-09-26 18:42] #144 closed

[2021-10-04 09:06] Mauns opened #147 "Font-Weight labels are not parsed correctly"
Hey Lukas,

Superb plugins, it helps us a lot. Working with a Typeface from KlimType (Söhne) I noticed that the font-weights are not getting parsed correctly. I compared it with Roboto and it seems like it is because of the labels of the font-weights.

Söhne uses Labels like Leicht, Buch, Halbfett, Fett. This probably not what the plugin expects. Due to this all styles are getting exported with a

[2021-10-05 09:37] lukasoppermann commented on #147
Hey Manus,

this is a very easy fix. You just need to add them to the matrix here: https://github.com/lukasoppermann/design-tokens/blob/main/src/extractor/extractFonts.ts#L23-L39

Would be awesome if you could send a PR for this.

[2021-10-05 18:28] markacianfrani opened #148 "Custom typography tokens"
How would one go about creating custom tokens for individual typography categories? For example,

[code]

Figma's typography styles have multiple properties, but I'd like to divorce our tokens from those. `--font-size-lg` vs ` --font-h1-font-size`

Would there be any interest in a PR for adding font weight, family, size, line-height, etc to the custom tokens setup?

[2021-10-05 18:38] lukasoppermann commented on #148
I think what would be better is to use amazon style dictionary to take the styles apart into the individual properties. (Using standard token format).

If you use the original format this should work like this already.

If you want to add an example to the examples folder for the standard tokens and how to extract the size family and weight, I would love a PR for this.

[2021-10-05 19:05] markacianfrani commented on #148
That's what I was struggling with in Style Dictionary. There's no real metadata or anything to be able to do something like "--font-size-2xl."

I could do some transforms or formatting but then all that logic would live inside Style Dictionary where designers can't change anything.

I'm thinking we'll just create a separate page like we would for spacing and work on a PR to add font weight, font s

[2021-10-05 19:22] lukasoppermann commented on #148
Wait, if I understand you correctly (now) you want to basically allow users to define tokens for font-size, font-weight, etc. like `border-radius` so instead of using the `radius` prefix you would use the `fontSize` prefix, is that correct?

That does sound interesting.

[2021-10-05 19:52] markacianfrani commented on #148
Exactly. fontSize, fontWeight, fontFamily and letterSpacing all as their separate categories. Something similar to [Lightning](https://www.lightningdesignsystem.com/design-tokens/#category-font-size).

[2021-10-21 19:25] blackshirtdesign opened #150 "Export button is disabled"
I have never had a problem before and do everything as I always do.

For whatever reason, ONLY THIS prototype does not allow me to export tokens. The button to export is not working.

Any ideas?

![Screen Shot 2021-10-21 at 2 05 39 PM](https://user-images.githubusercontent.com/67355584/138343167-ed0900b9-ee58-4644-a5cc-6166c80d8cf9.png)

[2021-10-21 19:36] lukasoppermann commented on #150
Hey @blackshirtdesign this is very hard to diagnose without editing rights. But maybe you can open the console in figma via the command platte (/ or cmd + p) and "open console".

Can you let me know if you see anything when you press the button? Thanks

[2021-10-25 20:06] TrentWalton opened #151 "Additional characters in JSON exports for colors"
Hi Lukas!

I'm noticing an extra `ff` at the end of colors in the json on exports. In the example, the red `#c13434` is exported to JSON as `"value": "#c13434ff"`

Any idea where the extra `ff` is coming from? Is it my Figma setup, or something with the plugin? Is it possible to export without the trailing `ff`?

Apologies if I've set something up wrong, but here is a link to a reduced test case:

[2021-11-01 16:17] TrentWalton commented on #151
Thanks, @lukasoppermann and @devilcoders
We’ll find a way to show hex6—appreciate y’all

[2021-11-01 16:17] #151 closed

[2021-11-02 09:20] edwardbattistini opened #152 "Question: Would it be possible to have sync from GitHub?"
Thank you so much of this marvellous plugin,

I was wondering if you had any plans/interests into allowing sync back from github?

- I have 3 themes in my DS and I find maintaining Figma files for the 3 themes is really time consuming
- Having a way to sync my tokens back to a single "white label" file would really rock
- Sometimes Figma can get out of control with contributors and it's hard to se

[2021-11-05 09:41] lukasoppermann commented on #152
Hey @edwardbattistini,

I do have **interest** in a sync back to Figma. However currently I have not worked on this.

I would love to allow a sync from a w3c token file to text styles, color styles, elevation styles and grid styles. So anything that can be added as a style.

Would you be interested in contributing?

[2021-11-09 13:40] lorenzvs opened #153 "Hex values exported with 8 characters"
Why is the latest version of the plugin exporting colors with 8 characters?

e.g. `#008799` exports now as `#008799ff`

[2021-11-09 14:30] lukasoppermann commented on #153
Hey @lorenzvs this was already discussed here in more detail #151 but in short, it is a `hex8` value, the last two characters are the alpha value.

While it is supported in many browser you can easily convert it to rgb using something like [tinyColor](https://www.npmjs.com/package/@ctrl/tinycolor) to convert it, here is an example: https://github.com/lukasoppermann/design-tokens/blob/main/examples

[2021-11-09 14:30] #153 closed

[2021-11-10 13:05] lorenzvs commented on #153
Thanks for the quick answer. The tokens still work so not an issue at all, it just happened unexpectedly and couldn't figure out why.

[2021-11-15 22:01] joss-jllt opened #155 "Client_payload weight issue"
Hey Lukas, thanks for maintaining this plugin!

I have been making requests to a github repo, and it has been working fine, until I tried exporting tokens from a large file (well, not so large, but lots of typography styles). The token object in the request, even minified, weights 142ko (so not that big...)
Still Github throws me a 422 and justifies it by the payload being too large.

Is it possib

[2021-11-16 10:41] tranrb opened #157 "Exported hex color values wrong in some cases"
Hi!

We are having some minor issues with exported color tokens: most are corrects but some are not.

For example, in FIgma, we have `#01A299` but we are getting `#FFA299FF` in the output file.
When `#00B3A6` is correctly exported to `#00B3A600`.

Actually, most of our color palette is ok: there's maybe a pattern with hex colors starting or ending with `01`, or when in the middle (`#xx01xx`). Hope

[2021-11-16 10:52] lukasoppermann commented on #157
Thank you for the report. I will look into it and let you know what I find out.

[2021-11-16 10:54] lukasoppermann commented on #155
Hey @joss-jllt I will look into it. I am not sure if this is actually the limit or something else is wrong. If you can find out more or figure out a solution please let me know.

Did you try sending the same request via cli to github?

[2021-11-16 21:16] lukasoppermann commented on #150
Hoping this has solved itself. If not please reopen with more info.

[2021-11-16 21:16] #150 closed

[2021-11-16 21:17] #148 closed

[2021-11-18 02:18] sir-captainmorgan21 opened #158 "Figma board Example?"
First. This plugin is awesome! But even with the documentation, its isn't quite clear on how to get the desired results and tokens you want. Do you have an example Figma board to work off of that shows a solid token set?

[2021-11-18 03:52] sir-captainmorgan21 opened #159 "Color styles are wrapped in `"undefined"` property when exported"
When I have a Figma board with only color styles defined, exporting them using the new "standard" format results in an "undefined" property being wrapped around the colors.

[code]

[2021-11-18 12:43] zetareticoli opened #160 "Text styles properties are not converted to individual token if using Standard Format"
I have this JSON structure automatically exported by Figma:

[code]

Then, I run the command `style-dictionary build` and this is the result in CSS and SCSS:

[code]

[code]

Am I wrong or is it a bug?

Thanks!

[2021-11-18 17:37] zetareticoli commented on #159
Get the same issue

[2021-11-18 21:41] lukasoppermann commented on #159
Found the bug, working on a fix. For now, as a workaround, disable `Add token type to name of the token` in the general settings to get the undefined away.

[2021-11-19 08:46] lukasoppermann commented on #160
No, you are not doing it wrong. Style dictionary does not support this yet. You need to add your own transformer for that.

You can use this example as a starting point: https://github.com/lukasoppermann/design-tokens/blob/main/examples/libs/web/webFont.js

[2021-11-19 15:57] zetareticoli commented on #160
Thanks @lukasoppermann.

When I read [this](https://github.com/lukasoppermann/design-tokens#figma-style-design-tokens) I thought it was supported.

[2021-11-19 17:26] lukasoppermann commented on #160
Hey @zetareticoli to get this you need to use the "original" token format in the settings. However feel free to create an issue to request individual properties for font styles in the standard format as well.

[2021-11-19 20:21] lukasoppermann opened #162 "Replace "react-figma-plugin-ds" with internal components"
The **react-figma-plugin-ds** project is not maintained and creates problems. It needs to be removed.

To remove it all used components have to be integrated.
- [ ] Button
- [ ] Checkbox
- [ ] Select
- [ ] Title
- [ ] Input
- [ ] Label
- [ ] Text

[2021-11-20 00:49] ZaidKhan144 commented on #162
@lukasoppermann What do you mean by integrated?

[2021-11-20 07:15] lukasoppermann commented on #162
Well, they have to be added to this project instead of using them from the dependency. I started this in #163

[2021-11-21 08:21] #162 closed

[2021-11-21 08:22] lukasoppermann opened #164 "Cleanup react components"
Since the `react-figma-plugin-ds` dependency is broken, I recently "imported" the components that are used in this plugin.
However they need to be cleaned up, including the css.

This includes (but is not limited to):
- [ ] Button
- [ ] Checkbox
- [ ] Select
- [ ] Title
- [ ] Input
- [ ] Label
- [ ] Text

[2021-11-22 12:16] #159 closed

[2021-11-22 12:23] lukasoppermann commented on #159
This should be fixed now, please let me know if you have any more issues.

[2021-11-22 12:58] FRSgit commented on #155
Unfortunately - I've got the same error on my side. At some point even the compressed payload became just too bit for GitHub to handle (it's 69.2 kB with maximum of 50kB for GitHub actions).

As an quick solution I would propose to add the toggle to "send Design Tokens to url" which would remove things like `extensions` field (and maybe others like `description` as well if they're not necessarily

[2021-11-22 13:34] lukasoppermann commented on #155
@FRSgit yes that is a great idea. Would you be interested in sending a PR? I think maybe those fields should be toggled individually.

However I am wondering if there is a better way of providing the dat, as 50kb is a very low limit.

[2021-11-22 13:39] FRSgit commented on #155
Yea, sure!

Yes, unfortunately Github Actions has a pretty limited API in some regards.

[2021-11-22 13:50] lukasoppermann commented on #155
Maybe a future solution could be to enable individual pushes per category. I am not sure this can be automated, but I am thinking basically:
- push colors
- push sizes, etc.

Of course this would have to be optional

[2021-11-22 15:20] FRSgit commented on #155
That would work as well, and probably could be automated. Then the github actions script would need to expect "merging" the tokens data instead of replacing them. For sure it's doable. But first it would be good to raise this issue to the GitHub team, maybe it won't be hard for them to come up with a configuration API for setting bigger max payload limit.

I'm not super enthusiastic about this one

[2021-11-22 15:36] lukasoppermann commented on #155
Where is this repo? Happy to open an issue there. :D

[2021-11-23 00:09] evanroane commented on #80
Hey @lukasoppermann I'm interested in working on this. Could you share more about what you have in mind? I'd be sad if I dug into this work and wound up building the wrong thing.

[2021-11-23 07:06] lukasoppermann commented on #80
Hey @evanroane, thank you for picking this up.

The idea here is that instead of overwriting the design tokens here: https://github.com/lukasoppermann/design-token-transformer the github action should create a PR that allows manually checking the changes on github before merging.

Does this make sense?

[2021-11-24 00:24] FRSgit commented on #155
Unfortunately for the dispatches there isn't any 😄 I was talking about the [GitHub's upload-artifact action repo](https://github.com/actions/upload-artifact/issues/14). For the dispatch I think we can raise the issue only via [feedback page](https://support.github.com/contact/feedback).

[2021-11-24 09:28] zetareticoli commented on #160
Thanks, it worked. I only have one question: how should I handle units?

[2021-11-25 18:42] ratnakar5938 commented on #164
Can I work on this issue???

[2021-11-26 07:24] lukasoppermann commented on #164
Hey @ratnakar5938, sure I would love help with that.

It would be best to do one PR per component.

For any questions, feel free to ask me or send a [WIP] PR with questions / Ideas attached.

[2021-11-26 07:27] ratnakar5938 commented on #164
Can u plz explain wt are ur needs

[2021-11-26 07:45] lukasoppermann commented on #164
Sure, so the components are mainly copied from the `react-figma-plugin-ds` package.

This means there is probably css in there that is never used in the plugin.
-> This css should be removed.

Also there may be states in the components that are never used. Those states should be removed as well.
This often leads to being able to remove more code from the components.

The goal of this is that the c

[2021-11-26 10:53] lukasoppermann commented on #160
What do you mean by this @zetareticoli ?

[2021-11-26 12:37] ratnakar5938 commented on #164
can u describe how to start the local server
😬😬😬

[2021-11-26 12:44] lukasoppermann commented on #164
Well, there is no local server. So you need to add it to figma as a plugin first. Afterwards you run "npm start" which builds it.

This may be a bit complicated though. :( sorry.
Do you need it to verify?

[2021-11-26 12:47] ratnakar5938 commented on #164
I will try
if any error comes up I will ask
😬😬

[2021-11-26 12:51] ratnakar5938 commented on #164
I installed the plugin in my figma
What to do next???

[2021-11-26 13:12] lukasoppermann commented on #164
Hey, I am sorry, I think this does not even work. I thought you could get a dev version to run. But I am not sure that works.

I think you would need to run the react files locally but I am not sure it would work. You'd probably get errors due to specific figma api usage.

I think the only way to do it, is to do it "blind". But it's also fine if that is no fun for you. I understand that this is no

[2021-11-26 13:35] ratnakar5938 commented on #164
Actually I am a newbie so working blind will not work for me :( sorry

[2021-11-26 13:41] lukasoppermann commented on #164
Yeah, no worries, makes sense. I removed the two labels, as I realised that it has more complexity to it than I thought. Working on open source is a great idea though. Just find another problem to solve here or in another project. 👍

Cheers & thanks for offering help.

[2021-11-27 11:49] zetareticoli commented on #160
Why values (e.g. font-size) come without 'px' unit?

[2021-11-29 19:53] #160 closed

[2021-11-29 20:54] lukasoppermann commented on #147
This should work now, thanks to the PR

[2021-11-29 20:54] #147 closed

[2021-11-29 20:59] lukasoppermann commented on #160
Hey @zetareticoli I just released the update, so now you can enable "typography" tokens in the standard format.

[2021-11-30 08:59] zetareticoli commented on #160
Thank you @lukasoppermann, really appreciate your support

[2021-12-06 21:11] #125 closed

[2021-12-06 21:12] lukasoppermann opened #166 "Release aliases"
- [x] Currently blocked by https://github.com/amzn/style-dictionary/pull/746 until `.value` is removed
- [x] add documentation for aliases
- [x] create release

[2021-12-08 22:14] e-aubrey opened #167 "Option to remove/ignore "extensions""
After an update, I noticed the exported json now includes an "extensions" object. Would it be possible in settings or before export to turn off or ignore adding this to the exported file?

Thanks!

[2021-12-09 07:42] lukasoppermann commented on #167
Hey, this is definitely a valid case. Would you like to send a PR for this?

[2021-12-17 11:10] #166 closed

[2021-12-17 11:11] lukasoppermann commented on #158
Sorry, I didn't see this until now.

I do: https://www.figma.com/file/2MQ759R5kJtzQn4qSHuqR7/Design-Tokens-for-Figma?node-id=231%3A0

It is also accessible from within the plugin: https://github.com/lukasoppermann/design-tokens#design-tokens--demo-file

Hope this helps.

[2021-12-17 11:11] #158 closed

[2021-12-17 11:12] lukasoppermann commented on #80
Fixed by @matthewlyle

[2021-12-17 11:12] #80 closed

[2021-12-17 11:21] lukasoppermann opened #169 "Add commit message from plugin"
It would be great if the user could add a commit message when sending the file to the server.
Ideally this would include a version number as well #69

What would be neat:
- [ ] turn server settings into a settings only page
- [ ] add a send to server command that opens a dialog with the following options
  - [ ] Version Number pre-filled with last version
  - [ ] Title
  - [x] Description
  - [ ]

[2021-12-17 11:58] bdrtsky commented on #167
No way to remove `extensions` currently?

[2021-12-17 12:37] lukasoppermann commented on #167
No. This is why the ticket is still open. Feel free to send a PR.

[2021-12-23 15:46] jeffisowens opened #170 "Feature request: allow creation of multiple token sets"
I'm hoping to be able to import multiple token json files and have them each transformed and built as separate token "themes". Perhaps inside the build folder, each token file set would output into a folder that  matches the name of the original token file (example: if original file is named  "my-tokens.json" the output would be in "/build/my-tokens/")

[2022-01-03 14:32] sir-captainmorgan21 commented on #159
@lukasoppermann another one. Thanks!

[2022-01-05 20:57] fitfab opened #172 "The Save & Export is not working any longer"
<img width="661" alt="Screen Shot 2022-01-05 at 3 53 47 PM" src="https://user-images.githubusercontent.com/286703/148287924-ef8cd011-864e-496f-aaae-d41f4b46d74f.png">

When one clicks on the `Save & Export`, the error below shows up in the console:

<img width="1365" alt="Screen Shot 2022-01-05 at 3 56 25 PM" src="https://user-images.githubusercontent.com/286703/148288267-6e902329-fb81-472b-8350-5

[2022-01-05 21:52] lukasoppermann commented on #172
Thanks will look into it.

[2022-01-06 07:57] lukasoppermann commented on #172
Hey, I had a look and can not reproduce the error on my side. From the screenshot I am assuming you use the "Send to Url" command, correct?

Does it arrive at the server? Is it possible that you get an error back?
Did you try to reset the settings with the reset settings command?

Can you otherwise share all the details (excluding your personal access token)

[2022-01-06 17:45] fitfab commented on #172
Actually we figure it out.
We had to check the `add token type to name of the token`
Thank you for you prompt response.
<img width="672" alt="Screen Shot 2022-01-06 at 12 42 37 PM" src="https://user-images.githubusercontent.com/286703/148426743-d23d3781-9297-4d71-ab14-8f7e1f6fdae9.png">

[2022-01-11 18:36] #172 closed

[2022-01-11 18:42] fitfab opened #173 "letterSpacing missing from the json output"
This is the output from `Send design tokens to URL`:
[code]

even though we have a value in the figma file:
<img width="289" alt="Screen Shot 2022-01-11 at 1 41 42 PM" src="https://user-images.githubusercontent.com/286703/149002287-2d6a9651-0bf5-42df-9e00-4c92e14706bd.png">

[2022-01-19 21:24] lavr001 opened #174 "Wrong HEX value is exported"
Hi,

I have 2 questions:

1. When I exported a design tokens file from Figma, one color was exported with the wrong hex value (in Figma it was `#010205`, but after I run it through a style dictionary transformer it was `#ff0205` in `_variables.scss`)
2.  All colors in `design-tokens.colors.json` file have an extra ff in the end of each hex value (e.g. the color above was `#ff0205ff`), that ff was

[2022-01-19 21:31] lukasoppermann commented on #174
Hey, the FF is transparency. Those are hex8 values. You need to do some custom transformer to convert it. It was already discussed in another ticket, let me find the link.

[2022-01-19 21:32] lukasoppermann commented on #174
Hope that helps: https://github.com/lukasoppermann/design-tokens/issues/151

[2022-01-19 22:16] lavr001 commented on #174
@lukasoppermann  Thank you. Do you know what might be the reason for exporting one wrong hex value?

[2022-01-20 07:02] lukasoppermann commented on #174
It's not wrong it's by design. Hex8 includes transparency. The last two characters are a transparency value. Hex8 is the preferred color value in the w3c design token spec

[2022-01-20 19:50] lavr001 commented on #174
@lukasoppermann I'm referring to my first question. In Figma file one of the colors I'm exporting is `#010205` (black) and in design-tokens.colors.json that color got a wrong hex value of `#ff0205` (red). This is the only color that got a wrong value during the export.

Any ideas why it's happening?

[2022-01-20 19:57] lavr001 commented on #174
Adding these 2 screenshots to clarify the issue:

<img width="240" alt="figma_black" src="https://user-images.githubusercontent.com/19784835/150412611-1ea5ff19-04a4-4353-aa96-91b9fa6f4a91.png">
<img width="790" alt="design_tokens_black" src="https://user-images.githubusercontent.com/19784835/150412627-bfadbb58-c82a-4aa7-97da-27fbfd41274c.png">

.

[2022-01-20 20:47] lukasoppermann commented on #174
Sorry, I missed that. Fix is out, please let me know if this solves the issue. Thank you.

[2022-01-21 08:52] lukasoppermann commented on #173
Hey, this should be fixed now. Please let me know if it works.

[2022-01-21 14:28] fitfab commented on #173
@lukasoppermann -- Great! I will test it and let you know.

[2022-01-25 07:37] #174 closed

[2022-01-25 07:38] #173 closed

[2022-01-25 14:33] fitfab commented on #173
@lukasoppermann -- it worked. Thank you!

[2022-01-25 15:03] lukasoppermann commented on #173
Great to hear it, thank you for the info.

[2022-01-28 08:15] jahglow opened #175 "Feature request: Gitlab integration via token"
Hello, thanks for your great plugin, is it possible that you add a Gitlab alongside github for an easy integration with an ability to specify a branch to create a merge request to by pushing design tokens? If you could provide guidance on how to do this manually for now - that would be great. Specifying a path to a folder in the repo would also be great

[2022-01-28 08:41] lukasoppermann commented on #175
Hey @jahglow I am not using gitlab, so I am missing the experience here, but I am happy to work together with you to solve this.

Technically you can change the type of token to basic or bearer. But maybe you need a specific token or a specific header for gitlab?

Does gitlab have actions, similar to github actions?

[2022-01-28 08:44] lukasoppermann commented on #170
Hey @jeffisowens,

Couldn't you create two different files for this? Maybe I am not really getting the use case?

[2022-01-31 14:17] lukasoppermann commented on #175
Ahh, okay, sounds good.

**-> Closed until more information is available.**

[2022-01-31 14:17] #175 closed

[2022-02-02 03:30] pollux- opened #176 "Not able to export Typeface"
Figma has this Typeface defined

<img width="269" alt="Screen Shot 2022-02-01 at 7 08 44 PM" src="https://user-images.githubusercontent.com/6567174/152088521-e73e7d95-88ea-45ed-8f24-5ac6fd6d64cb.png">

I was able to create token using the plugin

[code]

This is my config file.

[code]

This one is creating empty `style_dictionary_font_dimens.xml `

How can I fix this?

thanks 🙏

[2022-02-04 11:01] lukasoppermann commented on #176
You have to either use the deprecated export format or write a custom transformer for style dictionary (I would suggest the second one).

Here is an example of how to do this: https://github.com/lukasoppermann/design-tokens/blob/main/examples/libs/android/formatFontStyle.js

https://github.com/lukasoppermann/design-tokens/blob/main/examples/build.js

[2022-02-05 03:36] sir-captainmorgan21 opened #177 "Cant Export Spacing as Single Value"
We are using Tailwind. For things like spacing, we only need the following json schema to configure it for tailwind.
[code]
and so on.

Right now, the spacing export exports with the assumption we need tokens for top, left, right, bottom. We end up with this after running style dictionary
[code]

Could there possibly be an option to export spacing with just the spacing value? so instead of...
[cod

[2022-02-05 04:26] sir-captainmorgan21 commented on #177
It also looks like the unit nor type is included in the export

[2022-02-07 11:11] frankbolviken opened #178 "Mapping styles to decisions"
In the figma file you can create color styles like Neutrals/grey-dark-800 etc. Question I have is what if you for instance want to map a decision to have background color to be Neutrals/grey-dark-800 and exported as a token.

Like
[code]

Is this possible? I was thinking of alias etc, but I'm struggling a bit with understanding how to set this up in the figma file?

[2022-02-10 09:59] lukasoppermann commented on #177
Hey,

so I think adding some kind of option could be possible. Something like "simplified export" that would merge together all the values.

However you could also easily solve this via transformers for style dictionary. If you are interested we can create the transformers together in PR to the examples folder.

If so, I would suggest creating a new folder `tailwind` were we can setup everything f

[2022-02-11 19:59] sir-captainmorgan21 commented on #177
@lukasoppermann yea would love to contribute. Do I need to be added as a contributor, or should I just fork?

Are you saying we start to place style-dictionary transformers in the examples folder under `/libs`? I didn't realize you had those transformers there available. You dont publish via npm do you?!

[2022-02-14 17:33] mihail-alexe-nutanix opened #179 "There is no way of exporting "transparent" tokens"
UX, in my case, defined multiple (let's say N) Figma files with N sets of tokens for each theme. In case of some `color` tokens, some values have transparent values (ie. no paint, or `rgba(0, 0, 0, 0)`)

# For example
`Background/Button/Secondary` has value #CCC in <Theme1> and `transparent` in <Theme2>. The example here is just for the sake of providing an example, so please don't judge the UX ap

[2022-02-17 21:03] dgmartin opened #181 "Feature Request: URL upload - Content-Type Update"
The Problem:
Currently when selecting the option to upload to a URL you have three options: (Github) token, Basic auth, and Bearer token auth. When trying to make a call using a Gitlab pipeline trigger URL the server can be reached only using the Github Authorization or Basic Authorization configurations however in both cases the payload is rejected due to fact that the "Content-Type" header is se

[2022-02-17 21:05] dgmartin opened #182 "Feature Request: Support Gitlab CI/CD Variables"
As mentioned in #181, sending a payload up to Gitlab is currently blocked due to the inability to pass the json payload however taking this a step further it would be better to just support Gitlab directly and pass the data directly to Gitlab variables using the POST command documented [here](https://docs.gitlab.com/ee/ci/triggers/#pass-cicd-variables-in-the-api-call). When passing the bulk payloa

[2022-02-17 21:06] dgmartin opened #183 ""Accept" Header Not Working"
After trying to trigger a Gitlab webhook and failing I started playing around with the different settings. One change I tried making was updating the value for the "Accept" header. I ended up using Burp Suite to intercept the request and found that the header was not actually getting updated. Based on what I could tell (Sorry, I'm an Android dev not web) it seems this is the problem code is at lin

[2022-02-18 08:43] lukasoppermann commented on #182
Hey @dgmartin,

I am not using Gitlab so I don't have experience here, but since it is a very common tool I am happy to work with you on improving the support.

I would like to figure out a viable solution in this ticket first. Here is what I am thinking could be a solution, let me know if this is true:

We add an option "send payload as post variables" that the user can toggle. If it is toggled w

[2022-02-18 10:09] lukasoppermann commented on #183
This is fixed in #184 thank you.

[2022-02-18 10:09] #183 closed

[2022-02-21 17:44] 12pixels opened #186 "Unable to push tokens to a custom server"
Hey Lukas,
I get the same error message from the plugin asking me to "...check settings and server" when I push the tokens to my dev url - https://12pixels.glitch.me/commit-tokens
My server script only accepts the json packet and pushes it to my console. There is nothing more going on there. The CORS header is set and I'm using your demo Figma file.

[2022-02-22 07:54] lukasoppermann commented on #186
Hey, I am not familiar with glitch. This means that you got an error from the server.
You can open the developer console in figma to inspect the error to get more details.
I can't tell you what the issue is, but if you figure it out (or at least get the details from the console) I may be able to ehelp.

[2022-02-22 12:40] 12pixels commented on #186
Operating the figma plugin from the browser helped much. I hadn't thought of that.
Thanks, Lukas

[2022-02-22 12:40] #186 closed

[2022-02-23 09:50] Landschaft opened #188 "Empty `dash-pattern` when exporting solid border style"
I have  a solid [border style](https://github.com/lukasoppermann/design-tokens#borders) `my-border-style` defined. When I export that style, this results in a dash pattern with an empty value:

    "dashPattern": {
        "value": "",
        "type": "string"
    },

This in turn will result in an **invalid SCSS variable** definition of the form:

    $my-border-style-dash-pattern: ;

As a workar

[2022-02-23 10:40] lukasoppermann commented on #188
Hey @Landschaft, thanks for the issue.

Do I understand correctly, that the solution should be to set dashPattern to `0` if the value is empty?

[2022-02-24 07:09] Landschaft commented on #188
In my specific use case I'm not interested in the dash pattern at all since I use a solid border. All I need is (syntactically) valid definition of all the variables.

This results in the output

     "dashPattern": {
        "value": "0, 0",
        "type": "string"
      },

which in turn will result in (syntactically correct) CSS

     $my-border-style-dash-pattern: 0, 0;

This is okay in my sp

[2022-03-01 00:41] dgmartin commented on #182
@lukasoppermann I started working on this change but I need to verify a few things and I want to see if I can test this. If you know of any good documentation on how to do this let me know. I will also wait for #181 to be merged in before I put up a PR for this as well. You can see the changes I have so far in [this](https://github.com/dgmartin/design-tokens/commit/287809299378e22fccc1e5812ff5b064

[2022-03-01 11:32] lukasoppermann commented on #182
Generally looks good.

So on the UI you have a new item in the Dropdown for Auth, right? And if this is Gitlab you will show another new field `ref`, correct?

[2022-03-01 14:44] dgmartin commented on #182
Currently I'm not hiding the new ref field, but yes that is one of the items that I want to add. I'd like it to be dynamic exactly as you said. Otherwise your description is correct.

[2022-03-02 08:13] #188 closed

[2022-03-03 08:51] lukasoppermann commented on #179
Fixed in #180

[2022-03-03 08:51] #179 closed

[2022-03-03 08:52] lukasoppermann commented on #177
Hey, sorry, somehow this got lost. You can just fork and send a PR.

The transformers are not published via npm, no. But this is a good idea. Maybe a repo with transformers would be really helpful, what do you think?

Did you get around writing any transformers yet?

[2022-03-09 07:48] pollux- commented on #176
@lukasoppermann  thanks for the help.  That's working as expected

[2022-03-09 07:48] #176 closed

[2022-03-09 20:05] #181 closed

[2022-03-10 16:52] alexhris opened #191 "422 error (file is too large) for GitHub sync"
Hi, I'm not sure if I have too many tokens (both native Figma and custom ones), but after a while I'm not able to push the changes to our GitHub repo. The message I receive is with 422 error code and the following output in console:

`{message: "client_payload is too large.",…}
documentation_url: "https://docs.github.com/rest/reference/repos#create-a-repository-dispatch-event"
message: "client_pay

[2022-03-14 21:41] mattpilott opened #192 "Support for blend modes"
Yo yo yo Lukas!

I really need support for blend modes on colours, is there anyway this can be added and appended as an additional key in the fill item?

<img width="744" alt="Screenshot 2022-03-14 at 9 40 18 pm" src="https://user-images.githubusercontent.com/2401925/158265959-1ebf868a-e376-4281-9c57-75c7fbeafbeb.png">

Then could be like this in the json:

[code]

[2022-03-15 00:10] mattpilott commented on #192
https://github.com/lukasoppermann/design-tokens/pull/193

Started a PR

[2022-03-17 17:14] alvaro-zityhub opened #194 "Wrong exported letter spacing value"
Hi! In my Figma project I have the following two label fonts with the following properties:

![image](https://user-images.githubusercontent.com/83757829/158855856-e63adacb-df31-43b9-be61-a1bbd2519408.png)

As you can see the `letter-spacing` property contains the `0.04em` value.
When using the Design Tokens plugin, i'm getting the following `letter-spacing` values for both label fonts:

![image](h

[2022-03-17 20:21] lukasoppermann commented on #194
Hey, the issue is, that the letterspacing is turned into pixel by comparing it to the fontSize.

The problem is that em is not working for other platforms. If you get 0.04em it would be calculated compared to the font-size as well, correct?

[2022-03-18 10:12] alvaro-zityhub commented on #194
@lukasoppermann Oh cool ! that's it. Multplying `0.04em` * font-size I'm getting the `letter-spacing` in `px` unit, according to the font size own of the type font.

So In my code, I only have to create my generic theme file taking in account that returned `letter-spacing` values comes in `px` unit (no `em` unit is necessary).

If designer changes the `font-size` of type font from Figma, and chang

[2022-03-18 17:13] djmtype opened #195 "How do you apply units?"
@lukasoppermann I'm using your Figma demo file as an example. No units are being applied as a key/value pair, or appended to the value where applicable after Style Dictionary parses the JSON to CSS.

For example, shouldn't `sizes-32` have pixels appended to its value?

Below is the exported JSON from Figma:

[code]

Below is the rendered CSS with hsl as transform :

[code]

[2022-03-18 17:22] djmtype commented on #195
It looks like the W3C standard spec setting doesn't work with your original Figma demo file. Regardless, I can't seem to get a units appended to the font size values for example. Ideally, these should be rem units. Is there a specific JS function required by Style Dictionary to translate pixels to rems? I noticed these values are floats and not strings.

[2022-03-21 16:51] #194 closed

[2022-03-21 17:35] lukasoppermann commented on #195
Hey, yes, you will need to create custom transformers. Don't worry, it sounds a lot more complicated than it is.

To append px to the units (you could change it form rem, or em as well) you just create this transformer: https://github.com/lukasoppermann/design-tokens/blob/main/examples/libs/web/sizePx.js

[code]

To get it to run you need to create a file like `build.js` and run it instead of styl

[2022-03-25 16:37] djmtype commented on #195
@lukasoppermann Thanks a bunch. However, I didn't get it working according to your suggestions, and I don't know if I have it set up properly.

I had to change: `files: [{ format: 'custom/css' } ]` to `files: [{ format: 'css/variables' } ]`.

I also had to register this variable as a transform first:

[code]

My complete `build.js` file:

[code]

[2022-03-25 16:46] djmtype commented on #195
@lukasoppermann I could've bothered you less it had looked a bit further.
https://github.com/lukasoppermann/design-token-transformer

[2022-03-26 01:58] sir-captainmorgan21 commented on #177
@lukasoppermann here is a transformer I wrote:

[code]

Its meant to covert the tokens exported for radius and spacing, and convert them into the following format for tailwind:
[code]

[2022-03-27 21:29] sir-captainmorgan21 commented on #177
Got another one for tailwind. Generate json thatll match the schema needed to use tailwind's plugin feature to add a utility.
[code]
Itll format the typography tokens from Figma....
[code]
like so....
[code]
This one is also making assumptions about how the styles are set up. The depth of the tokens could be an option provided to the formatter. IE...
We have tokens where its `heading.100.desktop`

[2022-03-27 21:30] sir-captainmorgan21 commented on #177
@lukasoppermann where would you want this style dictionary formatter package to live in the repo?

[2022-03-28 13:12] sir-captainmorgan21 commented on #177
Got an parameterized formatter for typography tokens
[code]

[2022-03-29 09:56] lukasoppermann commented on #177
Nice. I think it would make most sense to create a separate repo so people can download it and use it without having the whole plugin code in their npm. What do you think?

[2022-03-31 23:55] SteveAtKlover opened #197 "Doesn't preserve camel casing in export"
I have, for instance, a figma token called `brandPrimary`, but when it gets exported out to the file, it saves as `brandprimary`, lowercasing the `P`. I messed with the casing option and it doesn't do it correctly in any case.

[2022-04-01 00:03] claudiozoocial commented on #157
Hi! thank you for your work any updates on this?

[2022-04-05 01:30] bryanlopez-ibotta opened #198 "Museo Sans Font Weight Support - All font weights are 400"
I created a text style in Figma with Museo Sans at 300 font-weight but when exported it says this and any other text style I define with this font are font-weight "400" which isn't even an option for that font!

[2022-04-05 01:45] bryanlopez-ibotta commented on #198
Okay, I see the issue. Museo only uses numbers to describe the weights. We need to add {300: 300, 400: 400}, etc. to https://github.com/lukasoppermann/design-tokens/blob/59c35552d424f4ef69c703063939fd7ebd17490c/src/extractor/extractFonts.ts#L23

I will make a PR.

[2022-04-05 18:38] bryanlopez-ibotta commented on #198
#199 should hopefully fix this.

[2022-04-06 14:54] sir-captainmorgan21 commented on #177
Agreed

[2022-04-06 15:44] lukasoppermann commented on #177
Okay, sorry, I am currently extremely at my capacity. 😢

While trying to create a new repo, I thought, why don't we use this: https://github.com/lukasoppermann/design-token-transformer

I try to push it now, but my thoughts are:
- adding `src` with subfolders `iOS`, `android`, `web`
- adding an examples folder with separate build.js files that use the files from src.

Feel free to send a PR to the

[2022-04-06 18:12] sir-captainmorgan21 commented on #177
No worries! Sounds good. This is perfect!

[2022-04-06 19:09] lukasoppermann commented on #177
Hey, I merged the changes now.
Android is done, so you can use that as an example.

I also added a `transform:android` script that runs the example.

We still need to add it for iOS and web and of course for your examples.
And we need to adjust the documentation on this project and the transformers to tell people about it.

[2022-04-06 19:13] lukasoppermann commented on #198
Thanks for the fix.

[2022-04-06 19:13] #198 closed

[2022-04-06 19:15] lukasoppermann commented on #197
Hey @SteveAtKlover,

can you give me more details?

So you are using the "standard" token format?
And you have set the name conversion option to camelCase but still get the converted version, correct?

[2022-04-07 06:55] SteveAtKlover commented on #197
@lukasoppermann yeah, i use the standard format, and tried default as well as camel case.

when the file spits out, a figma token that is `brandPrimary` gets exported as `brandprimary`.

[2022-04-07 07:12] lukasoppermann commented on #197
Hey, you are right and this is a bug.

Currently the code just lowercases everything and merges words where you have spaces and uppercases the first letter.
This does remove already existing camelCase names.

Another issue I ran across is that emojis like `😅` produce an error when camelCasing which breaks the plugin.

Would you be able to send a PR to address the issues?

[2022-04-07 07:17] SteveAtKlover commented on #197
I can try. What file should I be working in? Thanks.

[2022-04-07 07:26] lukasoppermann commented on #197
Awesome, reach out any time if you have questions.

The conversion happens here: https://github.com/lukasoppermann/design-tokens/blob/main/src/utilities/transformName.ts

The module is than used here: https://github.com/lukasoppermann/design-tokens/blob/main/src/utilities/groupByName.ts

I think there are two things:
1. Fixing the camelCase: https://github.com/lukasoppermann/design-tokens/blob/mai

[2022-04-07 21:56] brian-mcallister-lab49 opened #200 "Export format following latest spec updates."
The latest version of the spec changes the format of design tokens to follow [these rules](https://design-tokens.github.io/community-group/format/#design-token-0):

This is a pretty recent change, but looks like this is how design tokens will be structured going forward. It looks like all "top level" keys in a design token object are now intended to be prefixed with `$`.

Inspecting this codebase

[2022-04-08 06:43] lukasoppermann commented on #200
Hey @brian-mcallister-lab49 very interesting. I generally agree with your approach using `const VALUE_KEY = "$value";`
It may be best to create a config file for storing those names. The same config file could be added to the transformer package.

However I think this will be a lot of breakage for existing users and figma sadly is really bad when it comes to versioning of plugins.

So what I am cu

[2022-04-08 12:32] tranrb commented on #157
Sorry for the late answer (recently changed job)!
I've just tested this issue and everything is now working fine: i can happily close this issue. 👍

[2022-04-08 12:32] #157 closed

[2022-04-08 13:39] brian-mcallister-lab49 commented on #200
Seems like a great plan.

Just a note though, I don't think style-dictionary supports this updated format yet.

There's a few mentions of this in their issues (see https://github.com/amzn/style-dictionary/issues/757 and https://github.com/amzn/style-dictionary/issues/643#issuecomment-1072812903 (which references the spec, but this comment was written before the latest changes), but I don't see any

[2022-04-13 03:43] HopperDai commented on #182
Can't find the field of 'ref' and 'token' in payload when use gitlab. Throw error when request the api. @lukasoppermann

![image](https://user-images.githubusercontent.com/21030653/163095794-75c954cc-5ced-4fc3-a729-9d2666d84d12.png)

![image](https://user-images.githubusercontent.com/21030653/163095774-f5884ffb-698f-4fa8-9d24-45c2e7c39768.png)

[2022-04-13 06:25] lukasoppermann commented on #182
@dgmartin any ideas?

The issue could be in line 74 of the export file ` if(exportSettings.authType === "Gitlab_Token") {` as the in the settings the key is `gitlab_token`.

I'll try to fix this.

[2022-04-13 07:54] lukasoppermann commented on #182
Hmm, @dgmartin any ideas? Hey @HopperDai can you please check it again? Fix what I think was the bug and I am seeing now the --form values in the console.

[2022-04-13 09:21] HopperDai commented on #182
@lukasoppermann

I can see values in the payload. But the request is still fail.
![image](https://user-images.githubusercontent.com/21030653/163143480-2cf87ffd-6db0-4892-a091-6a08393fb47b.png)
![image](https://user-images.githubusercontent.com/21030653/163143556-efa73919-4467-4409-8712-b14327f909ce.png)

This is the config. I have also tried multipart/form-data content-type.
![image](https://user-

[2022-04-13 09:42] lukasoppermann commented on #182
Hey @HopperDai I don't have a gitlab to test with. We need to get help from @dgmartin here. I am not sure if this is an issue with the plugin or with gitlab setup now.

[2022-04-13 09:48] HopperDai commented on #182
@lukasoppermann I run the command in terminal which is recommend by gitlab. It's succeed.
![image](https://user-images.githubusercontent.com/21030653/163150635-a321bb83-0395-40bb-aa6b-360d0a5ffe51.png)
![image](https://user-images.githubusercontent.com/21030653/163151405-a7af1f7e-b459-4569-970c-397e8953e743.png)

[2022-04-13 09:54] lukasoppermann commented on #182
Hmm, I would assume that the issue is with the way the form data is transferred.

The implementation currently uses the body and adds formdata.

[code]

Do you have any ideas?

[2022-04-13 18:35] dgmartin commented on #182
@lukasoppermann  and @HopperDai Sorry for the delayed response. I currently work on this with a colleague and we just got to start looking into this yesterday. We found the original issue with the incorrect token value being checked. I was hoping to confirm this today but it seems @lukasoppermann fix worked in that regards. Thank you @lukasoppermann for getting that fix in.

I'm seeing the same er

[2022-04-13 23:29] dgmartin commented on #182
@lukasoppermann  and @HopperDai I believe I was correct about the Content-Type. I ran some initial tests with my colleague and was able to get this running correctly. I've made some changes and push it up to my branch. Tomorrow I will need to run a final test and I should be able to open the following PR as ready:
https://github.com/lukasoppermann/design-tokens/pull/201

[2022-04-15 11:23] HopperDai commented on #182
@dgmartin I debug in local environment with your fixed code. It can run. Thanks!

[2022-04-15 20:08] dgmartin commented on #182
@HopperDai  I'm glad it's working for you but unfortunately I have some bittersweet news. While the fix I've implemented does fix the issue it seems there is a bigger issue that my colleague and I have run into. Essentially we are hitting a data limit on the amount of JSON data that we can transfer into the Gitlab pipeline. I can provide further detail on the nature of this error upon request. Whi

[2022-04-19 06:13] lukasoppermann commented on #182
Hey @dgmartin is this issue one specifically with your setup because you have a big / huge file, or does this happen with small files already?

If this only happens for large files, I would go for 1. as it may still be helpful for teams with gitlab that have smaller files or break their system into multiple files.

You have used the compressed output, correct?

[2022-04-20 08:05] Yoksy opened #202 "Better support for radial gradient"
Hello Lukas, thank you for this amazing plugin, its helping greatly my team settings up design tokens from figma to our apps!

I have noticed that the position parameter is missing when exporting radial gradient.

Example : `radial-gradient(100% 100% at 50% red 0, green 100%)` where `100% 100% at 50%` is the position param.

Current export look like this:
[code]

And the exported CSS variable look

[2022-04-29 15:50] nmereus-turner commented on #202
I have a similar issue with linear gradients not exporting the variables properly.

Export: `      "50% overlay": {
          "description": "",
          "type": "custom-gradient",
          "value": {
            "gradientType": "linear",
            "rotation": 360,
            "stops": [
              {
                "position": 0,
                "color": "#000000cc"
              },

[2022-05-16 12:20] lukasoppermann commented on #202
Hmm, this does seem wrong.

So the position you get is basically 0% and 100%.
Can you please attach a picture of how the gradient looks in figma?

[2022-05-18 08:21] lukasoppermann commented on #191
Hey @alexhris

did you use the compress option?

Github does have a limit https://github.com/lukasoppermann/design-tokens/issues/67 so this could be the issue.

Can you export the tokens into a local file or does this create an issue as well?

[2022-05-18 08:37] csify opened #204 "Universal objects transformation"
hi lukas, great to see that you are working on this plugin! i think i really is a great contribution. i was wondering if we could also get into something like a universal transformation, so to say, not limit the plugin to 'well-known' visual properties, but rather think of it as a transformation machine that provides a design token mapping also as an object description machine.

this would, in the

[2022-05-20 09:17] Yoksy commented on #202
Yes

![figma-bug-radial-1](https://user-images.githubusercontent.com/1885652/169496699-5cb457e2-f801-4dab-beeb-985e19a7afc8.png)
![figma-bug-radial-2](https://user-images.githubusercontent.com/1885652/169496712-faaf6b88-b74c-4977-94c1-e9968f3d4acf.png)

[2022-05-25 17:04] kaitlynhova opened #205 "export design token file: Cannot read properties of null (reading 'r')"
## Description

**Figma Version:** 114.6.1

![Screen Shot 2022-05-25 at 9 37 32 AM](https://user-images.githubusercontent.com/5474124/170319834-7b8a70fe-df8a-4f5b-ab62-25f55e1fcc0b.png)

1. select "export design token file"
2. Press "Save & Export" button
3. See: modal doesn't close and an error code is printed into the console.

[2022-05-25 17:23] lukasoppermann commented on #205
If you just go to "Design Tokens > Settings" that is the screen.

[2022-05-25 17:41] kaitlynhova commented on #205
Here is the settings screen:
![Screen Shot 2022-05-25 at 10 32 23 AM](https://user-images.githubusercontent.com/5474124/170328485-5145b02d-e4af-4af2-ba0a-fc20b89e1dd0.png)

I don't think I can share the color styles publicly, though. the tokens are named like "Pink/pink-100" though

[2022-05-26 15:59] aloisdeniel opened #206 "Support Spring motion"
The last Figma release added support for spring animations.

![image](https://user-images.githubusercontent.com/7687231/170526482-164e71eb-e6c3-44d6-9599-face15f213f0.png)

But, if I try to export such an animation, I get an error.

![image](https://user-images.githubusercontent.com/7687231/170526603-0a8c2770-54ff-459b-80ec-594319052ea1.png)

Figma plugin APIs have probably changed which breaks cu

[2022-06-15 13:45] lukasoppermann commented on #205
Hey @kaitlynhova any updates here? Does the problem persist? Can you create an example file with the issue so that I can test it myself?

[2022-06-16 15:00] lukasoppermann commented on #206
Hey @aloisdeniel sorry that it takes so long, but I am very busy. However I just wanted to let you know that I can reproduce the issue and will work on a fix.

[2022-06-16 20:24] kaitlynhova commented on #205
Thank you for checking in! The problem has persisted but we found a work around by using a different Figma file that works for some reason 🙏

[2022-06-17 06:34] lukasoppermann commented on #205
@kaitlynhova that is weird. And you have all colors in this new file as well? No color that was only in the old file that could produce this error?

[2022-06-20 07:41] lukasoppermann commented on #206
Short update @aloisdeniel the new release does NOT allow export for spring animations yet. However as a quick fix they are ignored and should not result in an error.

I am working on bringing spring animations into the plugin, it is the next task on my list.

[2022-06-20 21:09] aloisdeniel commented on #206
No worries! Thank you!

[2022-06-28 03:52] zhanglun opened #216 "output [object Object] in _variable.less and _variable.scss"
I got css，less and scss files after I didi `npm run transform-tokens`, It was nice!
But output [object Object] in _variable.less and _variable.scss
<img width="681" alt="image" src="https://user-images.githubusercontent.com/3086358/176088236-807a03ab-8c03-46b9-b36d-6d523e84d281.png">

[2022-06-28 09:13] lukasoppermann commented on #216
Hey, which format are you using? Is it the "original (deprecated)" one? What is your setup the transformation? Are you using the default setup from https://github.com/lukasoppermann/design-token-transformer/blob/main/package.json ?

[2022-06-28 11:02] zhanglun commented on #216
I followed the steps here [lukasoppermann/design-tokens#transforming-tokens-using-amazon-style-dictionary](https://github.com/lukasoppermann/design-tokens#transforming-tokens-using-amazon-style-dictionary). Is it possible that it is caused by Style Dictionary?

[2022-06-29 08:44] zhanglun commented on #216
@lukasoppermann  I think I have figured out the problem.
https://github.com/lukasoppermann/design-token-transformer/blob/main/tokens/design-tokens-example.json was exported with "standard" format.

[2022-06-29 08:44] #216 closed

[2022-06-29 11:56] #206 closed, assigned to nobody

[2022-06-30 13:57] sir-captainmorgan21 commented on #177
@lukasoppermann sorry. Been swamped with standing up our design system, but gonna hopefully start on this soon

[2022-07-27 14:08] derekwsgray opened #220 "Typography doesn't export in a transformable way if Fonts included"
The README suggests (using standard format) that it can export both Fonts and Typography tokens, however the tree structure doesn't seem to be valid (by that I mean, using only style-dictionary transforms alone would not be enough, for web css)

It exports something like this:

[code]
Since `myFontA` has a `type` and a `value` key, the other siblings are not picked up as separate tokens and get ig

[2022-07-27 14:21] derekwsgray opened #221 "Variants are being ignored for custom tokens"
As someone not super familiar with Figma, I was creating a bunch of custom tokens. Under a `_tokens` frame, I added a component, name it, say, `border/mytheme-border-thin`. To create the next one (e.g. `border/mytheme-border-medium`, I naturally Copy & Paste the first one and drag it below, and rename it. BUT this creates a variant, not a new component. It takes a few steps to convert that to a Co

[2022-08-01 06:50] pukingrainbows opened #222 "Can Design toke can push to private repos?"
What configuration do private repos need to have in order to receive the event on their workflow? I received 404 each time I try to use a Personal Github and the organization repo.

Thank you for such a great project.!!

[2022-08-01 07:11] pukingrainbows commented on #222
Ohh after literally 3 hours lol, I found out that when you created your personal access token on github, on the plugin when selecting the type of auth, you shouldn't pick `Github token`, it has to be `bearer token`!!!!!

I think the documentation is a little misleading. Or at least that's how worked for me

[2022-08-01 07:11] #222 closed

[2022-08-02 09:26] marianntapfer opened #223 "Feature request: CLI version of design-tokens"
Would you consider adding a CLI version to your plugin?
It would make more sense on the developer side if it would be possible to provide a Figma access token, file id and run this locally to get the same kind of json file I get from the plugin in Figma.

What would be the benefits of using a CLI version:

1. We have been using your Figma plugin for a while now and it is great the only downside is

[2022-08-02 13:23] lukasoppermann commented on #223
Hey,

I have not considered this. But it sounds like a pretty good idea.

Did you build a prototype already?

[2022-08-02 14:37] marianntapfer commented on #223
No prototype jet just an idea, but I would definitely be up to contributing.

[2022-08-07 07:32] lukasoppermann commented on #223
That would be great. I think it is a very nice idea as it opens up integration into tool chains without user interaction.

Would you like to start a prototype? Do you need anything to get started?

[2022-08-08 12:19] lukasoppermann commented on #222
Hey @pukingrainbows, this is not how it is supposed to work.

I just tried it and for me it worked. How did you create the token?

[2022-08-15 13:55] lukasoppermann commented on #221
Hey, variants should already be supported. Does it not export those for you?

If not, can you please:
1. make sure it does export a normal `border//mytheme-border-thin` component without variants
2. if it does, provide an example figma file I can look at?

[2022-08-15 17:19] derekwsgray commented on #221
I realized later that the docs indicated variants _were_ supported, so I've updated the title of this issue to reflect that it's a bug.

[2022-08-15 17:23] derekwsgray commented on #221
Here is a basic file with 1 component, and 1 variant (created by keyboard copy/paste of the component). The component exports as a custom border token, the variant does not.
https://www.figma.com/file/XVsv0TuECvIKVcd5d0SASr/DT-Variant-Test?node-id=0%3A1

[2022-08-15 18:52] lukasoppermann commented on #221
Hey @derekwsgray, this is not a `variant`, it is an `instance`. `Instances` are not supported.

To speed up your workflow you could do the following:
1. Create a frame (not a component)
2. Duplicate this and create all other variations you want
3. select all and create multiple components via the dropdown and "create multiple components"
<img width="325" alt="Screenshot 2022-08-15 at 20 50 47" src

[2022-08-15 18:52] #221 closed

[2022-08-16 07:49] lukasoppermann commented on #191
I am assuming this is just the github limit. If not, please reopen.

[2022-08-16 07:49] #191 closed

[2022-08-16 19:36] derekwsgray commented on #221
Ah, sorry for my ignorance, and thanks for the tip.

[2022-08-17 08:06] lukasoppermann commented on #221
Hey @derekwsgray no worries, variants and instances are a very close concept I totally understand the confusion.
Hope this helps in any case.

[2022-08-18 20:14] derekwsgray opened #224 "Feature Request: Add a field for commit message"
When pushing to GitHub from the plugin, we need a way to specify what changed so that when a new version of the tokens are published we can have a change log (e.g. using https://github.com/semantic-release/semantic-release). With that we can use semantic-versioning conventions to know if the release is a breaking change or not (e.g. a token is removed, thus breaking, or just updated or added.)

[2022-08-18 21:25] derekwsgray commented on #224
I'll create a PR. But I have no clue how to run/test it in Figma :)

[2022-08-23 11:55] lukasoppermann commented on #224
This is actually a duplicate of #169

[2022-08-24 10:06] marianntapfer commented on #223
Yes. IM not sure when I will have to get to it, but I will keep you posted. Very nice to know you are open to the idea.

[2022-08-29 08:14] lukasoppermann commented on #224
fixed by #227 thanks again @derekwsgray 🙌

[2022-08-29 08:14] #224 closed

[2022-08-29 11:57] lukasoppermann commented on #204
Hey, sorry for missing this for so long 🙄

If this is still something you are thinking about, could you elaborate how you think this could work with figma? Are you saying you would want to export all components and transform the properties in the way you mentioned above?

[2022-08-29 11:57] #205 closed

[2022-08-30 07:19] lukasoppermann commented on #220
Hey, this is correct. Style dictionary does not support the w3c standard. You will need to create custom transformers for this. That is by design. I am assuming that once the w3c format is finalized and releases style dictionary will implement it as well.

[2022-08-30 07:19] #220 closed

[2022-08-30 19:28] derekwsgray commented on #220
Now I'm getting confused... So when your plugin outputs "Standard" format.. it's not really the w3c draft standard.

According to StyleDictionary format what you output _should_ be supported: https://amzn.github.io/style-dictionary/#/tokens?id=design-tokens so I'm not sure actually why the individual "fontSize" gets skipped by StyleDictionary... In StyleDictionary format, a group can also _be_ a t

[2022-08-30 21:34] lukasoppermann commented on #220
So what is outputted in the Original (outdated) mode, should be supported by style dictionary.

What is output in standard mode is not. It is by now also not according the standard anymore, as they updated. I will hopefully in the next days/weeks have time to refactor standard to align with the specs.

[2022-08-30 21:38] lukasoppermann commented on #220
What you have written there in the code is not valid. However I can not reproduce it. For me it is a normal composite token: https://tr.designtokens.org/format/#composite-design-token

[2022-08-31 05:27] lukasoppermann opened #229 "Update standard format to follow specs"
As suggested in #200. The following changes need to be done to the standard format spec:

- [ ] update `value` to `$value`
- [ ] update `type` to `$type`
- [ ] update `description` to `$description`
- [ ] check tokens
  - [ ] typography
  - [ ] duration
  - [ ] size
  - [ ] color
  - [ ] ...

[2022-09-01 15:04] derekwsgray commented on #220
I figured out why you're not seeing it. You have to turn OFF auto prefixing.
![image](https://user-images.githubusercontent.com/5737686/187946736-b01fc2a8-97e3-4ba5-8a8a-aebbfcc753e2.png)

So I'm not sure the best way to avoid generating invalid standard format... we definitely don't want to turn on the prefixing because we want '<product>-<theme>-' to come first in the token name.

[2022-09-01 15:07] derekwsgray commented on #220
I've updated the title to reflect the special case. Should be re-opened.

[2022-09-06 15:09] alexhris commented on #191
Sorry, I didn't receive notifications for your messages. Compress option works for us for now, the problem is that the code updates are unreadable in the pull request. Exporting worked as well, it was only the sync of uncompressed files. Thanks.

[2022-09-14 14:50] ahdigital commented on #170
I have a similar request.

My tokens are defined in Figma in 2 separate files (theme 1 and theme 2) and I send each to a single Github repo using the plugin to be transformed using Actions (Style Dictionary).

I'd like my build folder to be structured like the following, so engineers can easily pick a theme to work with, or implement theme switching within a single application:
[code]

But current

[2022-09-22 14:22] derekwsgray opened #231 "Ref / Aliases don't work with slashes"
For the Standard Draft, and for StyleDictionary, references/alias must use a 'dot' between groups/children.
However, for organizing styles in Figma, we are going to tend towards using slashes.

i.e. Where the designer creates a style named in Figma as `color/grey-10`, if they want to use the alias, they have to remember to use a different form of the name: `color.grey-10`. It would be nice if the

[2022-09-25 19:21] lukasoppermann commented on #231
Hmm, interesting idea. You mean the alias from the description?

Would you be able to send a PR for this?

[2022-10-03 15:11] derekwsgray commented on #231
Yes, the "ref:" or "alias: " lines in a Description of a colour style for example.
I can probably make a PR, but I can't find the unit test / test data that tests the extraction from the 'description' field. Or is there no test for that?

[2022-10-03 19:23] lukasoppermann commented on #231
Hey, I think this is only tested via the integration tests. But I would be great if you could extract this into a separate function and ts file and test it.

The logic currently lives in the colors file, as it only works with colors atm (https://github.com/lukasoppermann/design-tokens/blob/main/src/extractor/extractColors.ts#L20-L39). If you want to extend this to work with all tokens that can hav

[2022-10-20 16:47] andreaagudo3 opened #232 "Does this support light and dark mode somehow?"

[2022-10-23 05:50] lukasoppermann commented on #232
Technically yes. You just need to create them as separate styles. So if in figma you have "dark/color/red" and "light/color/red" you can export both and use Style Dictionary to transform them.

[2022-10-24 18:42] #232 closed

[2022-10-31 17:59] markjharvey opened #233 "Update Figma styles from .json"
While this plug-in is great for the workflow of:

- Create/tweak/update styles in Figma
- Export to .json for Styledictionary

This creates a strain and bottleneck for larger changes. To change 20 color styles requires a lot of work right now, as Figma is the source of truth, and is very slow.
It would be really good to have the reverse workflow as well, for example:

- If you want to change an en

[2022-11-01 12:21] lukasoppermann commented on #233
Hey, this is a very interesting idea I have thought about as well. However I am currently waiting to see what will be announced at schema 2022 on 16.11.22

There is supposed to be some design token stuff coming, so we will see how this affects everything.